<div id="divContentWrapper" class="divContentWrapper">


    <div class="slide-container">
      <div>
        <div class="royalSlider heroSlider rsMinW" id="full-width-slider">
          {{#each slides as |slide|}}

          <div class="rsContent">
            <a class="slidelink" href={{slide.ActionLink}}>
            <img alt={{slide.AltTag}} class="rsImg"
            src={{slide.ImagePath}} />
            {{#if slide.HasCaption}}
            <div class="rsCaption animated fadeInUp">
              <a class="slidelink" href={{slide.ActionLink}}>
                  <h3>{{slide.Title}}</h3>
                  <p>{{slide.SubTitle}}<br />
                    <span class="readmore">{{slide.Action}}</span></p>
              </a>
            </div>
            {{else}}
            <div class="rsCaption" style="display:none">
            </div>
            {{/if}}
          </a>
          </div>
          {{/each}}
        </div>
      </div>
      <!--End royal slider -->

    </div>
    <!--End Slide Container -->

</div>
