<div class="homepage-banner">
    {{dashboard-slider slides=slides}}
    <div class="row info-blocks">
        <div class="info-block col-xs-4 {{if tab1 'active' ''}}" data-hover="tab" href="#info-block-content-1" {{action "activate" 1}} role="tab">
            <h4 class="info-title">Activities</h4>
        </div>

        <div class="info-block col-xs-4 {{if tab2 'active' ''}}" data-hover="tab" href="#info-block-content-2" {{action "activate" 2}} role="tab">
            <h4 class="info-title">Profiles</h4>
        </div>
        <div class="info-block col-xs-4 {{if tab3 'active' ''}}" data-hover="tab" href="#info-block-content-3" {{action "activate" 3}} role="tab">
            <h4 class="info-title">Events</h4>
        </div>
    </div>
    <div class="info-blocks tab-content">
        <div id="info-block-content-1" class="tab-pane {{if tab1 'active' ''}}" role="tabpanel">
            <span class="glyphicon glyphicon-triangle-bottom {{if tab1 'active' ''}}"></span>
            <h4>What Can I Do at Gordon?</h4>
            <p>The 360.gordon.edu mobile-friendly activities platform allows connection to campus activities, clubs, organizations, programs, and groups. Find a group, Subscribe to their email feed as a Guest, or join the group as a Member! Student Leaders and
                Advisors maintain group information about meeting times and links to their web pages. Each semester there are usually over 100 connections you could make!</p>
        </div>
        <div id="info-block-content-2" class="tab-pane {{if tab2 'active' ''}}" role="tabpanel">
            <span class="glyphicon glyphicon-triangle-bottom {{if tab2 'active' ''}}"></span>
            <h4>How do I search for someone?</h4>
            <p>Now you can easily search for people at Gordon College using our 360 people search bar.
                Find any of your friends or faculty and staff members by entering their first or last name.</p>
        </div>
        <div id="info-block-content-3" class="tab-pane {{if tab3 'active' ''}}" role="tabpanel">
            <span class="glyphicon glyphicon-triangle-bottom {{if tab3 'active' ''}}"></span>
            <h4>What going on around campus?</h4>
            <p>You will easily be able to see how many chapel credits you have as well as be able to
                see upcoming events </p>
        </div>
    </div>
</div>
