<div id="form-box" class="whitebox row">
    {{#if model.leading}}
        <h1>
            Add Admin
        </h1>
    {{/if}}
    <form {{action "post" on="submit"}}>
        {{#if errorMessage}}
            <p id="error-message">{{errorMessage}}</p>
        {{/if}}
        <label for="email">Admin Email</label>
        {{#if model.leading}}
            {{input value=email class="form-control"}}
        {{/if}}
        <button type="submit" class="btn button-navy form-button" {{action "post"}}>Add Admin</button>
        <button class="btn button-cyan form-button form-cancel-button" {{action "cancel"}}>Cancel</button>
    </form>
</div>
