<div id="add-box" class="graybox container">
    {{#if model.leading}}
        <h1>
            Add Person To - {{model.activity.ActivityDescription}}
        </h1>
    {{else}}
        <h1>
            Join - {{model.activity.ActivityDescription}}
        </h1>
    {{/if}}
    <form {{action "post" on="submit"}}>
        {{#if model.leading}}
            {{input value=studentEmail class="form-control" placeholder="Student Email Address"}}
        {{/if}}
        {{#power-select
            placeholder="Select Participation"
            selected=role
            searchField="ParticipationDescription"
            options=model.roles
            onchange=(action "setRole")
            as |role|
        }}
            {{role.ParticipationDescription}}
        {{/power-select}}
        {{input value=comments class="form-control" placeholder="Comment (optional)"}}
        <button type="submit" class="btn button-navy add-button" {{action "post"}}>Add Member</button>
        {{#if errorMessage}}
            <p id="error-message">{{errorMessage}}</p>
        {{/if}}
    </form>
</div>
