<div id="form-box" class="whitebox row">
    {{#if model.leading}}
        <h1>
            Add Person To {{model.activity.ActivityDescription}}
        </h1>
    {{else}}
        <h1>
            Join {{model.activity.ActivityDescription}}
        </h1>
    {{/if}}
    <form {{action "post" on="submit"}}>
        {{#if errorMessage}}
            <p id="error-message" class="error-transition">{{errorMessage}}</p>
        {{/if}}
        {{#if model.leading}}
            <label for="email">Student Email</label>
            {{input value=studentEmail class="form-control"}}
        {{/if}}
        <label for="participation">Participation</label>
        {{#power-select
            placeholder="Please select"
            selected=role
            searchEnabled=false
            options=model.roles
            onchange=(action "setRole")
            as |role|
        }}
            {{role.ParticipationDescription}}
        {{/power-select}}
        <label for="Comment (optional)">Title/Comment (optional)</label>
        {{input value=comments class="form-control"}}
        {{#if model.leading}}
            <button type="submit" class="btn button-navy form-button" {{action "post"}}>Add Member</button>
        {{else}}
            <button type="submit" class="btn button-navy form-button" {{action "post"}}>Request Membership</button>
        {{/if}}
        <button class="btn button-cyan form-button form-cancel-button" {{action "cancel"}}>Cancel</button>
    </form>
</div>
