<link rel="stylesheet" href="assets/add-membership.css">

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>
                Adding - {{model.activityCode}}
            </h2>
        </div>
    </div>
    {{#if model.leading}}
        <div class="row">
            <div class="invisible col-sm-3">.</div>
            <div class="col-sm-6">
                {{input value=studentID class="form-control" placeholder="Student ID"}}
            </div>
        </div>
    {{/if}}
    <div class="row">
        <div class="invisible col-sm-3">.</div>
        <div class="col-sm-6">
            {{#power-select
                placeholder="Select Participation"
                selected=role
                searchField="ParticipationDescription"
                options=model.roles
                onchange=(action "setRole")
                as |role|
            }}
                {{role.ParticipationDescription}}
            {{/power-select}}
        </div>
    </div>
    <div class="row">
        <div class="invisible col-sm-3">.</div>
        <div class="col-sm-6">
            {{input value=comments class="form-control" placeholder="Comment (optional)"}}
        </div>
    </div>
    <div class="invisible col-sm-4">.</div>
    <div class="row">
        <div class="col-sm-4 button-div">
            <button class="form-control btn btn-blue" {{action 'post'}}>Add</button>
        </div>
    </div>
</div>
