<div id="form-box" class="whitebox row">
    <h1>
        Add Supervisor To {{model.activity.ActivityDescription}}
    </h1>
    <form {{action "post" on="submit"}}>
      {{#if errorMessage}}
          <p id="error-message">{{errorMessage}}</p>
      {{/if}}
      <label for="email">Supervisor Email</label>
        {{input value=supervisorEmail class="form-control"}}
        <button type="submit" class="btn button-navy form-button" {{action "post"}}>Add Supervisor</button>
        <button class="btn button-cyan form-button form-cancel-button" {{action "cancel"}}>Cancel</button>
    </form>
</div>
