<div id="add-box" class="whitebox container">
    <h1>Adding - {{model.activityCode}}</h1>
    <form {{action "post" on="submit"}}>
        {{#if model.leading}}
            {{input value=studentID class="form-control" placeholder="Student ID"}}
        {{/if}}
        {{#power-select
            placeholder="Select Participation"
            selected=role
            searchField="ParticipationDescription"
            options=model.roles
            onchange=(action "setRole")
            as |role|
        }}
            {{role.ParticipationDescription}}
        {{/power-select}}
        {{input value=comments class="form-control" placeholder="Comment (optional)"}}
        <button type="submit" class="btn button-navy add-button" {{action "post"}}>Add</button>
    </form>
</div>
