<div id="form-box" class="whitebox row">
    <h1>
        Add Supervisor To - {{model.activity.ActivityDescription}}
    </h1>
    <form {{action "post" on="submit"}}>
        {{input value=supervisorEmail class="form-control" placeholder="Supervisor Email Address"}}
        <button type="submit" class="btn button-navy form-button" {{action "post"}}>Add Supervisor</button>
        {{#if errorMessage}}
            <p id="error-message"><span class="glyphicon glyphicon-exclamation-sign"></span> {{errorMessage}}</p>
        {{/if}}
    </form>
</div>
