<div class="container">
    <div class="add-form">
        <div class="add-title">
            {{#if model.leading}}
                <h2>
                    Add Person To - ({{model.activityCode}}) {{model.activity.ActivityDescription}}
                </h2>
            {{else}}
                <h2>
                    Join - ({{model.activityCode}}) {{model.activity.ActivityDescription}}
                </h2>
            {{/if}}
        </div>
        {{#if model.leading}}
            <div class="row">
                {{input value=studentEmail class="form-control" placeholder="Student Email Address"}}
            </div>
        {{/if}}
        {{#power-select
            placeholder="Select Participation"
            selected=role
            searchField="ParticipationDescription"
            options=model.roles
            onchange=(action "setRole")
            as |role|
        }}
            {{role.ParticipationDescription}}
        {{/power-select}}
        {{input value=comments class="form-control" placeholder="Comment (optional)"}}
        <button type="submit" class="btn button-navy add-button" {{action "post"}}>Add Member</button>
    </div>
</div>
