<div class="container events event-box">

  <div class=" row whitebox">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <h4 class="event-p heading-text event-title">
        CAMPUS EVENTS
      </h4>
    </div>
  </div>
  <div class=" row whitebox">
    <div class="input-group event-search col-xs-6 col-sm-4 col-md-4">
      {{input value=model.searchValue key-up=(action "filterEvents") class="form-control" placeholder="Search for..."}}
    </div>
    <div class="form-check col-xs-2 col-sm-2 col-md-2">
      <label class="form-check-label event-checks">
        <input type="checkbox" class="form-check-input">
       chapel
      </label>
    </div>  
        <div class="form-check col-xs-2 col-sm-2 col-md-2">
      <label class="form-check-label event-checks">
        <input type="checkbox" class="form-check-input">
        Athletic
      </label>
    </div>  
        <div class="form-check col-xs-2 col-sm-2 col-md-2">
      <label class="form-check-label event-checks">
        <input type="checkbox" class="form-check-input">
        CEC/GCSA
      </label>
    </div>  
    <button type="submit" class="btn btn-primary">Submit</button>
</div>
  <div class="event-cyanbox cyanbox">
    <div id="category-bar" class="row">
      <h4 class="event-labels col-sm-3 col-md-3" onclick={{action "sortByName"}}>Event</h4>
      <h4 class="event-labels col-sm-5 col-md-5" onclick={{action "sortByLocation"}}>Location</h4>
      <h4 class="event-labels col-sm-2 col-md-2" onclick={{action "SortByDate"}}>Date</h4>
      <h4 class="event-labels col-sm-1 col-md-1" onclick={{action "SortByDate"}}>Time</h4>
    </div>
  </div>
  <div class="entry-rows">
    {{#each model.eventShown as |event|}}
    <div class="row event-row" style="margin-left:0px; margin-right:0px" {{ action "toggleEventDetailsModal" event }}>
      <h4 class="col-md-3 col-sm-3 event-id" onclick={{action "toggleRequestSent"}}>{{event.Event_Name}}</h4>
      <h4 class="display-col col-md-5 col-sm-5 col-xs-hide">{{event.Location}}</h4>
      <h4 class="display-col col-sm-2 col-md-2 col-xs-hide">{{event.Start_Time}}</h4>
      <h4 class="display-col col-sm-2 col-md-2 col-xs-hide">{{event.End_Time}}</h4>
    </div>
    {{/each}}
  </div>
</div>



<div id="toggleEventDetailsModal" class="modal event-modal" onclick={{action "cancelEventDetailsModal"}}>

  <!-- Modal Content -->
  <div class="modal-content event-modal-content">
    <h3 class="whitebox modal-header event-modal-header"> {{ displayEvent.Event_Name }} </h3>
    <div class="modal-body">
      <h4> A.J Chapel <br> {{ displayEvent.Organization }} <br> {{ displayEvent.Description}} </h4>
    </div>
    <div class="modal-footer">
      <button class="btn button-lightgray cancel-modal form-button form-cancel-button">Cancel</button>
    </div>
  </div>

</div>