<div class="container events event-box">

  <div class=" row whitebox">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <h4 class="event-p heading-text event-title">
        CAMPUS EVENTS
      </h4>
    </div>
  </div>
  <div class=" row whitebox">

    <div class="input-group event-search col-xs-11 col-sm-4 ">
      {{input value=model.searchValue key-up=(action "filterEvents") class="form-control" placeholder="Search for..."}}
    </div>

    <div class="dropdown show hidden-xs col-sm-2">
      <button type="button" class="btn filter-button btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Filter Results
  </button>

      <div class="dropdown-menu">

        <div class=" dropdown-item event-checks form-check">
          <label class="form-check-label event-checks">
        {{input type="checkbox" checked=isAdmissions }}
       Admissions
      </label>
        </div>

        <div class=" dropdown-item event-checks form-check">
          <label class="form-check-label event-checks">
        {{input type="checkbox" checked=isChapel }}
      Chapel Office
      </label>
        </div>
        <div class=" dropdown-item event-checks form-check">
          <label class="form-check-label event-checks">
        {{input type="checkbox" checked=isCEC }}
       CEC Events
      </label>
        </div>
        <div class=" dropdown-item event-checks form-check">
          <label class="form-check-label event-checks">
        {{input type="checkbox" checked=isArt }}
       The Arts
      </label>
        </div>
        <div class=" dropdown-item event-checks form-check">
          <label class="form-check-label event-checks">
         {{input type="checkbox" checked=isAthletics }}
        Athletics
      </label>
        </div>


        <div class=" dropdown-item event-checks form-check">
          <label class="form-check-label event-checks">
        {{input type="checkbox" checked=isCalendar }}
       Claendar Events
      </label>
        </div>

        <div class=" dropdown-item event-checks form-check"><button type="button" class="btn btn-danger" onclick={{action "toggleCheckBox"}}>Submit</button></div>

      </div>
    </div>
    <div class=" hidden-xs col-sm-1  col-md-offset-2  col-md-1"><button class="btn refresh-button" onclick={{action "checkForChaple"}}>{{buttonText}}</button></div>
    <div class=" hidden-xs col-sm-2 col-md-1"><button class="btn refresh-button" onclick={{action "showPastEvents"}}>{{buttonText2}}</button></div>
  </div>
  <div class="moble-eventbox navybox">
    <div id="category-bar" class="row">
      <div class="dropdown show col-xs-3 visible-xs">
        <button type="button" class="btn filter-button refresh-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"><h4>
    Filters</h4>
  </button>

        <div class="dropdown-menu">
            <div class=" dropdown-item event-checks form-check">
              <label class="form-check-label event-checks">
        {{input type="checkbox" checked=isAdmissions }}
       Admissions
      </label>
            </div>

            <div class=" dropdown-item event-checks form-check">
              <label class="form-check-label event-checks">
        {{input type="checkbox" checked=isChapel }}
      Chapel Office
      </label>
            </div>
            <div class=" dropdown-item event-checks form-check">
              <label class="form-check-label event-checks">
        {{input type="checkbox" checked=isCEC }}
       CEC Events
      </label>
            </div>
            <div class=" dropdown-item event-checks form-check">
              <label class="form-check-label event-checks">
        {{input type="checkbox" checked=isArt }}
       The Arts
      </label>
            </div>
            <div class=" dropdown-item event-checks form-check">
              <label class="form-check-label event-checks">
         {{input type="checkbox" checked=isAthletics }}
        Athletics
      </label>
            </div>


            <div class=" dropdown-item event-checks form-check">
              <label class="form-check-label event-checks">
        {{input type="checkbox" checked=isCalendar }}
       Claendar Events
      </label>
              <div class=" dropdown-item event-checks form-check"><button type="button" class="btn btn-danger" onclick={{action "toggleCheckBox"}}>Submit</button></div>
            </div>
        </div>
      </div>

      <div class="visible-xs col-xs-3"><button class="btn refresh-button " onclick={{action "checkForChaple"}}><h4>{{buttonText}}</h4></button></div>
      <div class=" visible-xs col-xs-5"><button class="btn refresh-button" onclick={{action "showPastEvents"}}><h4>{{buttonText2}}</h4></button></div>
    </div>
  </div>
  <div class="event-cyanbox navybox">
    <div id="category-bar" class="row">
      <h4 class="event-labels col-sm-3 col-md-3" onclick={{action "sortByName"}}>Event</h4>
      <h4 class="event-labels col-sm-4 col-md-4" onclick={{action "sortByLocation"}}>Location</h4>
      <h4 class="event-labels col-sm-2 col-md-2" onclick={{action "SortByDate"}}>Date</h4>
      <h4 class="event-labels col-sm-3 col-md-3" onclick={{action "SortByDate"}}>Time</h4>
    </div>
  </div>
  <div class="entry-rows">
    {{#each model.eventShown as |event|}}
    <div class="row event-row" style="margin-left:0px; margin-right:0px" {{ action "toggleEventDetailsModal" event }}>
      <h4 class="col-md-3 col-sm-3 event-id" onclick={{action "toggleRequestSent"}}>{{event.Event_Title}}</h4>
      <h4 class="display-col col-md-4 col-sm-4 col-xs-hide ">{{event.Location}}</h4>
      <h4 class="display-col col-sm-2 col-md-2 col-xs-hide">{{event.Start_Time}}</h4>
      <h4 class="display-col col-sm-3 col-md-3 col-xs-hide">{{event.End_Time}}</h4>
      <h4 class="display-col col-sm-3 col-md-3 col-xs-hide events-info" onclick={{ action "MobileEventDetailsModal" event }}>More...</h4>
    </div>
    {{/each}}
  </div>
</div>



<div id="toggleEventDetailsModal" class="modal event-modal" onclick={{action "cancelEventDetailsModal"}}>

  <!-- Modal Content -->
  <div class="modal-content event-modal-content">
    <h3 class="whitebox modal-header event-modal-header"> {{ displayEvent.Event_Name }} </h3>
    <div class="modal-body">
      <h4>Department: {{ displayEvent.Organization }}</h4>
      <h4>Event Discription: {{ displayEvent.Description}}</h4>
      {{#each displayEvent.Occurrences as |Location|}}
      <h4>{{Location.[3]}} </h4>
      {{/each}}
    </div>
    <div class="modal-footer">
      <button class="btn button-lightgray cancel-modal form-button form-cancel-button">Cancel</button>
    </div>
  </div>

</div>