<div class="container page-title">
	<div class="dropdown-container row">
		<div class="session-dropdown">
			<label for="session">Session</label>
			{{#power-select
				placeholder="Please Select"
				selected=model.currentSession
				searchField="SessionDescription"
				options=model.sessions
				onchange=(action "selectSession")
				as |session|
			}}
				{{session.SessionDescription}}
			{{/power-select}}
		</div>
	</div>
	<div class="dropdown-container row">
		<div class="session-dropdown">
			<label for="type">Type</label>
			{{#power-select
				placeholder="Please Select"
				searchEnabled=false
				selected=model.selectedType
				options=model.activityTypes
				onchange=(action "selectType")
				as |type|
			}}
				{{type}}
			{{/power-select}}
		</div>
	</div>
	<div class="row">
		<div class="search-bar">
			<label for="search activities">Search Activities</label>
			{{input value=searchValue key-up=(action "filterActivities") class="form-control" }}
		</div>
	</div>
    {{#if model.activitiesFilled}}
    	<div class="activity-list">
    		{{#each model.activitiesShown as |activity|}}
    			{{#link-to "specific-activity" model.currentSession.SessionCode activity.ActivityCode class="activity-list-item"}}
					<img class="activity-list-item-img" src={{activity.ActivityImagePath}}>
					<div class="activity-list-item-details">
						<p class="activity-list-item-title">{{activity.ActivityDescription}}</p>
					</div>
    			{{/link-to}}
    		{{/each}}
    	</div>
    {{else}}
		<div class="empty-list-reminder orangebox">
    		<h2>There are no activities for this session</h2>
		</div>
    {{/if}}
</div>
