<div class="col-sm-12 header">
    <header class="container">
        <div class="vertical-center graybox app-title-container">
            {{#link-to "index"}}
                <img src="images/gordon-logo-mobile.png" id="logo-mobile" class="{{if session.isAuthenticated '' 'logo-mobile-center'}}"/>
            {{/link-to}}
            {{#if session.isAuthenticated}}
                <div class="mobile-menu-icon">
                    <button {{action 'toggleMenu'}}>
                      <img src="images/list.svg" id="icon-menu">
                    </button>
                </div>
            {{/if}}
            <div class="user-info col-sm-6">
                {{#if session.isAuthenticated}}
                    <div class="user-info-buttons dropdown">
                        <h6 class="dropdown-toggle" id=id="dropdownMenu1" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                        {{session.data.authenticated.token_data.name}}
                        <span class="glyphicon glyphicon-chevron-down"></span></h6>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown1menu1">
                          <li>{{#link-to "help"}} Help{{/link-to}} </li>
                          <li>{{#link-to "profile"}}Profile
                            {{#if requestsRecieved}}
                                <span class="notification">
                                    {{requestsRecieved.length}}
                                </span>
                            {{/if}}
                            {{/link-to}}</li>
                            <li>{{#link-to "transcript"}}Transcript{{/link-to}}</li>
                          {{#if isSomeAdmin}}
                          <li>{{#link-to "activities-status"}} Activities' Status{{/link-to}} </li>
                          {{/if}}
                          <li role="separator" class="divider"></li>
                          <li><a href="#" {{action "logout"}}>Logout</a></li>
                        </ul>
                    </div>
                    {{#if requestsRecieved}}
                        <span class="notification">
                            {{requestsRecieved.length}}
                        </span>
                    {{/if}}
                {{/if}}
            </div>
            {{#if session.isAuthenticated}}
                {{#link-to "index"}}
                    <div id="logo-box-horizontal">
                        <img src="images/gordon-logo-horizontal.svg" alt="Gordon College logo"  width="150" height="38" />
                    </div>
                {{/link-to}}
            {{else}}
                {{#link-to "index"}}
                    <div id="logo-box">
                        <img src="images/gordon-logo-vertical-white.svg" alt="Gordon College logo">
                    </div>
                {{/link-to}}
            {{/if}}
        </div>
    </header>
    {{#if session.isAuthenticated}}
        <div class="row {{if showMenu 'graybox showMenu' 'lightgraybox'}} primary-menu-container">
            <ul id="primary-menu">
                <li class="user-info-mobile">
                    {{session.data.authenticated.token_data.name}}
                </li>
                <li>
                    {{#link-to "index" class="button uppercase"}}
                        My Home
                    {{/link-to}}
                </li>
                <li>
                    {{#link-to "all-activities" class="button uppercase"}}
                        Activities
                    {{/link-to}}
                </li>
                <li class="dropdown">
                  <button class = "btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Events
                  <!--<span class="caret"></span>--></button>
                  <ul class="dropdown-menu">
                    <li> {{#link-to "chapel-credits" class="button uppercase"}}Chapel {{/link-to}}</li>
                    <li> {{#link-to "all-events" class="button uppercase"}} All Events {{/link-to}}</li>

                  </ul>

                </li>
                <li>
                  {{#link-to "about" class="button uppercase"}}
                        About
                  {{/link-to}}
                </li>
                <li class="user-info-mobile">{{#link-to "help"}} Help{{/link-to}} </li>
                <li class="user-info-mobile">
                    {{#link-to "profile" class="button uppercase"}}
                        Profile
                    {{/link-to}}
                    {{#if requestsRecieved}}
                        <span class="notification">
                            {{requestsRecieved.length}}
                        </span>
                    {{/if}}
                </li>
                {{#if isSomeAdmin}}
                <li class="user-info-mobile">{{#link-to "activities-status"}} Activities' Status{{/link-to}} </li>
                {{/if}}
                <li class="logout-mobile">
                <a {{action "logout"}} class="button uppercase">Logout</a>
                </li>
            </ul>
        </div>
    {{/if}}
</div>

<div id="main-page-container" class="col-sm-12">
    {{outlet}}
</div>
