<div class="col-sm-12 header">
    <header class="container">
        <div class="app-title-container row">
            {{#link-to "index"}}
                <img src="images/gordon-logo-mobile.png" id="logo-mobile"/>
            {{/link-to}}
            {{#if session.isAuthenticated}}
                <div class="mobile-menu-icon">
                    <button {{action 'toggleMenu'}}>
                      <img src="images/list.svg" id="icon-menu">
                    </button>
                </div>
                <div class="mobile-menu-icon">
                    <button {{action 'toggleMenuSearch'}}>
                       <img src="images/search.svg" id="icon-search">
                    </button>
                </div>
            {{else}}
                <div class="mobile-menu-icon">
                    <button class="btn btn-lg login-toggle" {{action 'toggleLogin'}}>
                        Log In
                    </button>
                </div>
            {{/if}}
            <div class="user-info col-sm-9 {{if session.isAuthenticated '' 'user-info-unauth'}}">
                {{#if session.isAuthenticated}}
                <div class="user-info-wrapper">
                    <div class="user-info-buttons dropdown">
                        <h6 class="dropdown-toggle" id="user-info-dropdown-h6" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                        {{session.data.authenticated.token_data.name}}
                        <span class="glyphicon glyphicon-chevron-down"></span></h6>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown1menu1">
                          <li>{{#link-to "help"}} Help{{/link-to}} </li>
                          <li>{{#link-to "profile" session.data.authenticated.token_data.user_name}}Profile
                            {{#if requestsRecieved}}
                                <span class="notification">
                                    {{requestsRecieved.length}}
                                </span>
                            {{/if}}
                            {{/link-to}}</li>
                          <li role="separator" class="divider"></li>
                          <li><a href="#" {{action "logout"}}>Logout</a></li>
                        </ul>
                    </div>
                    {{#if requestsRecieved}}
                        <span class="notification">
                            {{requestsRecieved.length}}
                        </span>
                    {{/if}}
                </div>
                {{/if}}
                <h1 class="app-title col-sm-8">Gordon 360</h1>
                <!-- <div class="app-title">
                    <ul>
                        <li><a>Student Clubs &amp; Organizations</a></li>
                        <li><a href="https://my.gordon.edu/">My Gordon</a></li>
                    </ul>
                </div> -->

            </div>

            {{#if session.isAuthenticated}}
                <!-- {{#link-to "index"}}
                    <div id="logo-box-horizontal">
                        <img src="images/gordon-logo-horizontal.svg" alt="Gordon College logo"  width="150" height="38" />
                    </div>
                {{/link-to}} -->
            {{else}}
                {{#link-to "index"}}
                    <div id="logo-box">
                        <img src="images/gordon-logo-vertical-white.svg" alt="Gordon College logo">
                    </div>
                {{/link-to}}
            {{/if}}
        </div>
    </header>
    {{#if session.isAuthenticated}}
        <div class="row {{if showMenu 'graybox showMenu' 'lightgraybox'}} primary-menu-container">
            <ul id="primary-menu" class="nav navbar-nav">
                <li class="user-info-mobile">
                    {{session.data.authenticated.token_data.name}}
                </li>
                <li>
                  <span {{action "closeMenu"}}>
                    {{#link-to "index" class="button uppercase"}}
                        My Home
                    {{/link-to}}
                  </span>
                </li>
                <li>
                  <span>
                      <a data-toggle="dropdown">Activities <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        {{#unless isReadOnly}}
                        <li>{{#link-to "all-activities" invokeAction=(action 'closeMenu')}}
                          All Activities
                        {{/link-to}}</li>
                        <li>{{#link-to "my-involvements" invokeAction=(action 'closeMenu')}}
                          My Involvements
                        {{/link-to}}</li>
                        {{/unless}}
                        <li>{{#link-to "transcript" invokeAction=(action 'closeMenu')}}
                          Transcript
                        {{/link-to}}</li>
                        {{#if isSomeAdmin}}
                        <li>
                            {{#link-to "activities-status" invokeAction=(action 'closeMenu')}}
                            Activities' Status
                            {{/link-to}}
                        </li>
                        {{/if}}
                      </ul>
                  </span>
                </li>
                <!-- Dropdown Menu to access Events pages -->
                <li>
                  <span>
                      <a data-toggle="dropdown">Events <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li>{{#link-to "all-events" invokeAction=(action 'closeMenu')}}
                          All Events
                        {{/link-to}}</li>
                        <li>{{#link-to "chapel-credits" invokeAction=(action 'closeMenu')}}
                          Chapel Credits
                        {{/link-to}}</li>
                      </ul>
                  </span>
                </li>
                <li>
                  <span {{action "closeMenu"}}>
                    {{#link-to "about" class="button uppercase"}}
                          About
                    {{/link-to}}
                  </span>
                </li>

                 <li class = "hidden-xs">
                    <span>
                   <form class="navbar-form navbar-right searhbar">
                        <div class="form-group" >
                             {{input value=model.searchValue key-up=(action "stalkPeeps")  class="form-control" placeholder="Search for..."}}
                        </div>
                   </form>
                   <!-- where we show the results for the search -->
                   <ul class="dropdown-menu dropdown-people " >
                       {{#each model.people as |person index|}}
                            {{#if (lt index 10)}}
                                <li>
                                    <!-- link to a users profile page --> 
                                        {{#link-to "profile"  person.UserName }}
                                        {{person.FirstName}}  {{person.LastName}} ({{person.UserName}})
                                        {{/link-to}}
                                </li>
                            {{/if}}
                        {{/each}}
                    </ul>
                    </span>
                </li>

                <li class="user-info-mobile" >
                  <span {{action "closeMenu"}}>
                    {{#link-to "help"}} Help{{/link-to}}
                  </span>
                </li>
                <li class="user-info-mobile">
                  <span {{action "closeMenu"}}>
                    {{#link-to "profile" session.data.authenticated.token_data.user_name class="button uppercase"}}
                        Profile
                    {{/link-to}}
                    {{#if requestsRecieved}}
                        <span class="notification">
                            {{requestsRecieved.length}}
                        </span>
                    {{/if}}
                  </span>
                </li>

                <li class="logout-mobile">
                  <span {{action "closeMenu"}}>
                    <a {{action "logout"}} href="#" class="button uppercase">Logout</a>
                  </span>
                </li>
            </ul>
        </div>
    {{else}}
        {{login-block}}
    {{/if}}

    <!-- people search bar for mobile phones -->
</div>
    {{#if session.isAuthenticated}}
        <div class="row {{if showMenuSearch 'graybox showMenuSearch' 'lightgraybox'}} search-menu-container">
            <ul id="primary-menu" class="nav navbar-nav">
                <li class="user-info-mobile">
                     360 People Search
                 </li>
                <li>
                 <!-- close the menu by calling this function -->
                  <span {{action "closeMenuSearch"}}>
                    <form >
                        <div class="form-group searchbar-mobile-form" >
                             {{input value=model.searchValue key-up=(action "stalkPeeps")  class="form-control searhbar-mobile" placeholder="Search for People..."}}
                        </div>
                   </form>
                   <ul class="searchbar-mobile-list">
                       <!-- limit search result size to 10 -->
                       {{#each model.people as |person index|}}
                       {{#if (lt index 10)}}
                       <li class="searchbar-mobile-list-item">
                            {{#link-to "profile"  person.UserName invokeAction=(action 'toggleMenuSearch')}}
                            {{person.FirstName}} {{person.LastName}} ({{person.UserName}})
                            {{/link-to}}
                       </li>
                       {{/if}}
                      {{/each}}
                    </ul>
                  </span>
                </li>
            </ul>
        </div>

    {{/if}}
<div id="main-page-container" class="col-sm-12">

    {{outlet}}


</div>
