<div class="col-sm-12">
    <header>
        <div class="graybox app-title-container row">
            <div class="col-sm-3"></div>
            <h1 class="app-title col-sm-6">Student Clubs &amp; Organizations</h1>
            <div class="user-info col-sm-3">
                {{#if session.isAuthenticated}}
                    <h6>{{session.data.authenticated.token_data.name}}</h6>
                    <div class="user-info-buttons">
                        {{#if notificationsPresent}}
                            <div class="dropdown request-notification-dropdown">
                                <span class="glyphicon glyphicon-envelope request-button" data-toggle="dropdown"></span>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    {{#if requestsRecieved}}
                                        <li><strong>Requests Recieved</strong></li>
                                        {{#each requestsRecieved as |req|}}
                                            <li>
                                                {{#link-to "specific-activity" req.SessionCode req.ActivityCode}}
                                                    <div class="notification-name">{{req.FirstName}} {{req.LastName}}</div>
                                                    <div class="notification-info">{{req.ActivityDescription}}</div>
                                                    <div class="notification-info">{{req.DiffDays}}</div>
                                                {{/link-to}}
                                            </li>
                                        {{/each}}
                                    {{/if}}
                                    {{#if requestsSent}}
                                        <li><strong>Requests Sent</strong></li>
                                        {{#each requestsSent as |req|}}
                                            <li>
                                                {{#link-to "specific-activity" req.SessionCode req.ActivityCode}}
                                                    <div class="notification-name">{{req.ActivityDescription}}</div>
                                                    <div class="notification-info">{{req.RequestApproved}}</div>
                                                    <div class="notification-info">{{req.DiffDays}}</div>
                                                {{/link-to}}
                                            </li>
                                        {{/each}}
                                    {{/if}}
                                </ul>
                            </div>
                        {{/if}}
                        <button {{action "logout"}} class="logout-btn btn button-gray">Logout</button>
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="row">
            <div id="logo-box">
                <img src="images/gordon-logo-vertical-white.svg" alt="Gordon College">
            </div>
        </div>
    </header>
    <div class="row lightgraybox">
        <ul id="primary-menu">
            <li>
                {{#link-to "index" class="button"}}
                    My Involvements
                {{/link-to}}
            </li>
            <li>
                {{#link-to "all-activities" class="button"}}
                    What's Available?
                {{/link-to}}
            </li>
            <li>
                {{#link-to "transcript" class="button"}}
                    Gordon 360
                {{/link-to}}
            </li>
        </ul>
    </div>
</div>

<div id="main-page-container" class="col-sm-12">
    {{outlet}}
</div>
