<div class="col-sm-12">
    <header>
        <div class="graybox app-title-container row">
            <div class="col-sm-3"></div>
            <h1 class="app-title col-sm-6">Student Clubs &amp; Organizations</h1>
            <div class="user-info col-sm-3">
                {{#if session.isAuthenticated}}
                    <h6>{{session.data.authenticated.token_data.name}}</h6>
                        <div class="dropdown request-notification-dropdown" {{action "getRequests"}}>
                            <button class="btn button-gray dropdown-toggle request-button" data-toggle="dropdown">Requests
                                {{!-- <span class="glyphicon glyphicon-bell"></span> --}}
                            </button>
                            {{#if notificationsPresent}}
                                <ul class="dropdown-menu dropdown-menu-right">
                                    {{#each requests as |req|}}
                                        <li>
                                            {{#link-to "specific-activity" req.SessionCode req.ActivityCode}}
                                                {{req.FirstName}} {{req.LastName}} - {{req.ActivityDescription}}
                                            {{/link-to}}
                                        </li>
                                    {{/each}}
                                </ul>
                            {{else}}
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a>No Pending Requests</a></li>
                                </ul>
                            {{/if}}
                        </div>
                        <button {{action 'logout'}} class="logout-btn btn button-gray">Logout</button>
                {{/if}}
            </div>
        </div>
        <div class="row">
            <div id="logo-box">
                <img src="images/gordon-logo-vertical-white.svg" alt="Gordon College">
            </div>
        </div>
    </header>
    <div class="row lightgraybox">
        <ul id="primary-menu">
            <li>
                {{#link-to "index" class="button"}}
                    My Involvements
                {{/link-to}}
            </li>
            <li>
                {{#link-to "all-activities" class="button"}}
                    What's Available?
                {{/link-to}}
            </li>
            <li>
                {{#link-to "transcript" class="button"}}
                    Gordon 360
                {{/link-to}}
            </li>
        </ul>
    </div>
</div>

<div class="col-sm-12">
    {{outlet}}
</div>
