<div class="col-sm-12 header">
    <header class="container">
        <div class="app-title-container row">
            {{#link-to "index"}}
                <img src="images/gordon-logo-mobile.png" id="logo-mobile" />
            {{/link-to}}
            {{#if session.isAuthenticated}}
            <div class="mobile-menu-icon">
                <button {{action 'toggleMenu'}}>
                  <img src="images/list.svg" id="icon-menu">
                </button>
            </div>
            {{/if}}
            <div class="col-sm-3"></div>
            <h1 class="app-title col-sm-6">Student Clubs &amp; Organizations</h1>
            <div class="user-info col-sm-6">
                {{#if session.isAuthenticated}}
                    <h6>{{session.data.authenticated.token_data.name}}</h6>
                    <div class="user-info-buttons">
                        {{#if notificationsPresent}}
                            <div class="dropdown request-notification-dropdown">
                                <span class="glyphicon glyphicon-envelope request-button" data-toggle="dropdown"></span>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    {{#if requestsRecieved}}
                                        <li><strong>Requests Recieved</strong></li>
                                        {{#each requestsRecieved as |req|}}
                                            <li>
                                                {{#link-to "specific-activity" req.SessionCode req.ActivityCode}}
                                                    <div class="notification-name">{{req.FirstName}} {{req.LastName}}</div>
                                                    <div class="notification-info">{{req.ActivityDescription}}</div>
                                                    <div class="notification-info">{{req.DiffDays}}</div>
                                                {{/link-to}}
                                            </li>
                                        {{/each}}
                                    {{/if}}
                                    {{#if requestsSent}}
                                        <li><strong>Requests Sent</strong></li>
                                        {{#each requestsSent as |req|}}
                                            <li>
                                                {{#link-to "specific-activity" req.SessionCode req.ActivityCode}}
                                                    <div class="notification-name">{{req.ActivityDescription}}</div>
                                                    <div class="notification-info">{{req.RequestApproved}}</div>
                                                    <div class="notification-info">{{req.DiffDays}}</div>
                                                {{/link-to}}
                                            </li>
                                            <button {{action "deleteRequest" req.RequestID}} class="notification-delete button-red">Delete</button>
                                        {{/each}}
                                    {{/if}}
                                </ul>
                            </div>
                        {{/if}}
                        <button {{action "logout"}} class="logout-btn btn button-cyan">Logout</button>
                    </div>
                {{/if}}
            </div>
            {{#link-to "index"}}
                <div id="logo-box">
                    <img src="images/gordon-logo-vertical-white.svg" alt="Gordon College">
                </div>
            {{/link-to}}
        </div>
    </header>
    {{#if session.isAuthenticated}}
        <div class="row {{if showMenu 'graybox showMenu' 'lightgraybox'}} primary-menu-container">
            <ul id="primary-menu">
                <li class="user-info-mobile">
                  {{session.data.authenticated.token_data.name}}
                </li>
                <li>
                    {{#link-to "index" class="button uppercase"}}
                        My Involvements
                    {{/link-to}}
                </li>
                <li>
                    {{#link-to "all-activities" class="button uppercase"}}
                        What's Available?
                    {{/link-to}}
                </li>
                <li>
                    {{#link-to "transcript" class="button uppercase"}}
                        Gordon 360
                    {{/link-to}}
                </li>
                <li class="logout-mobile">
                    <button {{action "logout"}}>Logout</button>
                </li>
            </ul>
        </div>
    {{/if}}
</div>

<div id="main-page-container" class="col-sm-12">
    {{outlet}}
</div>
