<div id="form-box" class="whitebox row">
    <h1>Edit - {{model.activity.ActivityDescription}}</h1>
    <form {{action "update" on="submit"}}>
        {{input value=description class="form-control" placeholder="Description"}}
        {{input value=pageUrl class="form-control" placeholder="Activity Page. Full URL starting with http://"}}
        <div class="input-group">
            <label class="input-group-btn">
                <span class="btn button-navy">
                    Browse{{input id="file" type="file" value=file multiple="false"}}
                </span>
            </label>
            {{input value=file placeholder="No File Chosen" type="text" class="form-control" readonly="true"}}
        </div>
        <label class="default-image-check">{{input type="checkbox" checked=use_default_image class="default-image-check"}} Use Default Image </label>
        <button class="btn button-navy form-button" {{action 'update'}}>Submit Changes</button>
        {{#if errorMessage}}
        <div>
            <p id="error-message"><span class="glyphicon glyphicon-exclamation-sign"></span> {{errorMessage}}</p>
        </div>
        {{/if}}
    </form>
</div>
