<div id="form-box" class="whitebox row">
    <h1>Edit {{model.activity.ActivityDescription}}</h1>
    <form {{action "update" on="submit"}}>
        {{#if errorMessage}}
            <p id="error-message">{{errorMessage}}</p>
        {{/if}}
        <label for="activity page">Website</label>
        {{input value=pageUrl class="form-control"}}
        <label for="image">Upload image</label>
        <div class="input-group {{if defaultImage 'hidden'}}">
            <label class="input-group-btn">
                <span class="btn button-navy">
                    Browse{{input id="file" type="file" value=file multiple="false"}}
                </span>
            </label>
            {{input value=file placeholder="No File Chosen" type="text" class="form-control" readonly="true"}}
        </div>
        <label class="checkbox-form">
            {{input type="checkbox" checked=defaultImage}}
            Use Default Image
        </label>
        <label for="description">Description</label>
        {{textarea value=description class="form-control" rows="4"}}
        <button class="btn button-navy form-button" {{action 'update'}}>Submit Changes</button>
        <button class="btn button-cyan form-button form-cancel-button" {{action "cancel"}}>Cancel</button>
    </form>
</div>
