<div id="add-box" class="graybox container">
    <h4>
        Edit - {{model.membership.ActivityDescription}}
    </h4>
    <h4>
        {{model.membership.FirstName}} {{model.membership.LastName}}: {{model.membership.ParticipationDescription}}
    </h4>

    <form {{action "update" on="submit"}}>
        {{#power-select
            placeholder="Select Participation"
            selected=role
            searchField="ParticipationDescription"
            options=model.roles
            onchange=(action "setRole")
            as |role|
        }}
            {{role.ParticipationDescription}}
        {{/power-select}}
        {{input value=comments class="form-control" placeholder="Comment (optional)"}}
        <button class="btn button-navy edit-button" {{action 'update'}}>Edit</button>
    </form>
</div>
