<div id="form-box" class="whitebox row">
    <h1>Edit {{model.activity.ActivityDescription}}</h1>
    <form {{action "update" on="submit"}}>
        <label for="activity page">Activity Page</label>
        {{input value=pageUrl class="form-control" placeholder="Full URL starting with http://"}}
        <label class="default-image-check">
            {{input type="checkbox" checked=defaultImage}}
            Use Default Image
        </label>
        {{#unless defaultImage}}
            <label for="image">Upload image</label>
            <div class="input-group">
                <label class="input-group-btn">
                    <span class="btn button-navy">
                        Browse{{input id="file" type="file" value=file multiple="false"}}
                    </span>
                </label>
                {{input value=file placeholder="No File Chosen" type="text" class="form-control" readonly="true"}}
            </div>
        {{/unless}}
        <label for="description">Description</label>
        {{textarea value=description class="form-control" rows="4"}}
        <button class="btn button-navy form-button" {{action 'update'}}>Submit Changes</button>
        {{#if errorMessage}}
        <div>
            <p id="error-message"><span class="glyphicon glyphicon-exclamation-sign"></span> {{errorMessage}}</p>
        </div>
        {{/if}}
    </form>
</div>
