<div class="row dashboard">
	<div class="involvements-dropdown">
		<nav class="navbar navbar-toggleable-* bg-faded">
			<div {{action "toggleDropdown"}} class="involvements-div">
				<span class="glyphicon glyphicon-chevron-down involvements-dropdown-button"></span>
				<a class="navbar-brand uppercase" href="#">My Involvements</a>
			</div>
			<div id="involvements-navbar">
				{{#if model.nothingToShow}}
					<ul class="experience-involvements-dropdown">
						<li class="no-activities-msg">Looks like you don't have any activities yet! Check out
							{{#link-to 'all-activities'}}
								<a class="empty-list-link">what's available!</a>{{/link-to}}
						</li>
					</ul>
				{{else}}
					{{#if model.currentSupervisionsFilled}}
						<ul class="experience-involvements-dropdown">
							<li class="experience-category">Activities Currently Advising</li>
							<li>
								<div class="dropdown"> <button class="btn btn-default dropdown-toggle" type="button" id="current-advising-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> {{truncate-text model.currentSession.SessionDescription 0 -14}}
			<span class="glyphicon glyphicon-menu-down"></span> </button>
									<ul class="dropdown-menu" aria-labelledby="current-advising-menu">
										{{#each model.currentSupervisions as |advisor|}}
											<li>
												{{#link-to "specific-activity" advisor.SessionCode advisor.ActivityCode}}
													{{advisor.ActivityDescription}}{{/link-to}}
											</li>
										{{/each}}
									</ul>
								</div>
							</li>
						</ul>
					{{/if}}
					{{#if model.pastSupervisionsFilled}}
						<ul class="experience-involvements-dropdown">
							<li class="experience-category">Activities Previously Advised</li>
							<li>
								<div class="dropdown"> <button class="btn dropdown-toggle" type="button" id="past-advising-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> All Past Sessions
				<span class="glyphicon glyphicon-menu-down"></span> </button>
									<ul class="dropdown-menu" aria-labelledby="past-advising-menu">
										{{#each model.pastSupervisions as |advisor|}}
											<li>
												{{#link-to "specific-activity" advisor.SessionCode advisor.ActivityCode}}
													{{advisor.ActivityDescription}} <br><span class="session-description">{{advisor.SessionDescription}}</span>
												{{/link-to}}
											</li>
										{{/each}}
									</ul>
								</div>
							</li>
						</ul>
					{{/if}}

					{{#if model.currentMembershipsFilled}}
						<ul class="experience-involvements-dropdown">
							<li class="experience-category">Current Experience</li>
							<li>
								<div class="dropdown"> <button class="btn btn-default dropdown-toggle" type="button" id="current-member-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
									{{truncate-text model.currentSession.SessionDescription 0 -14 }}
						<span class="glyphicon glyphicon-menu-down"></span> </button>
									<ul class="dropdown-menu" aria-labelledby="current-member-menu">
										{{#each model.currentMemberships as |mem|}}
											<li>
												{{#link-to "specific-activity" mem.SessionCode mem.ActivityCode}}
													{{mem.ActivityDescription}}{{/link-to}}
											</li>
										{{/each}}
									</ul>
								</div>
							</li>
						</ul>
					{{/if}}
					{{#if model.pastMembershipsFilled}}
						<ul class="experience-involvements-dropdown">
							<li class="experience-category">Past Experience</li>
							{{#each model.pastMemberships as |memSession|}}
								<li>
									<div class="dropdown"> <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> {{truncate-text memSession.session 0 -14}}
					<span class="glyphicon glyphicon-menu-down"></span> </button>
										<ul class="dropdown-menu">
											<!--- Note that for accessibility, we still need to find a way to set aria-lablledby attr -->
											{{#each memSession.activities as |mem|}}
												<li>
													{{#link-to "specific-activity" mem.SessionCode mem.ActivityCode}}
														{{mem.ActivityDescription}}{{/link-to}}
												</li>
											{{/each}}
										</ul>
									</div>
								</li>
							{{/each}}
						</ul>
					{{/if}}
				{{/if}}
			</div>
		</nav>
	</div>
	<div class="main-content">
		{{homepage-banner slides=model.slides}}
	</div>
</div>
