{{#if model.nothingToShow}}
	<div class="empty-list whitebox row">
		<h3>Looking for something to do?</h3>
		<h3>Look at {{#link-to 'all-activities'}}<a class="empty-list-link">what's available!</a>{{/link-to}}</h3>
	</div>
{{else}}
	<div class="container">
		{{#if model.currentSupervisionsFilled}}
			<div class="section-title">
				<h1>Activities Currently Advising:</h1>
			</div>
			<div class="cyanbox group-title">
				<h2>{{model.currentSession.SessionDescription}}</h2>
			</div>
			<div class="activity-list">
				{{#each model.currentSupervisions as |advisor|}}
					{{#link-to "specific-activity" advisor.SessionCode advisor.ActivityCode class="activity-list-item"}}
						<img class="activity-list-item-img" src="{{advisor.ActivityImagePath}}">
						<dl class="activity-list-item-details">
							<dt class="activity-list-item-title">{{advisor.ActivityDescription}}</dt>
							<dt class="activity-list-item-info">{{advisor.SessionDescription}}</dt>
						</dl>
					{{/link-to}}
				{{/each}}
			</div>
		{{/if}}

		{{#if model.pastSupervisionsFilled}}
			<div class="section-title">
				<h1>Activities Previously Advised:</h1>
			</div>
			<div class="cyanbox group-title">
				<h2>All Past Sessions</h2>
			</div>
			<div class="activity-list">
				{{#each model.pastSupervisions as |advisor|}}
					{{#link-to "specific-activity" advisor.SessionCode advisor.ActivityCode class="activity-list-item"}}
						<img class="activity-list-item-img" src="{{advisor.ActivityImagePath}}">
						<dl class="activity-list-item-details">
							<dt class="activity-list-item-title">{{advisor.ActivityDescription}}</dt>
							<dt class="activity-list-item-info">{{advisor.SessionDescription}}</dt>
						</dl>
					{{/link-to}}
				{{/each}}
			</div>
		{{/if}}

		{{#if model.currentMembershipsFilled}}
			<div class="section-title">
				<h1>Current Experience:</h1>
			</div>
			<div class="cyanbox group-title">
				<h2>{{model.currentSession.SessionDescription}}</h2>
			</div>
			<div class="activity-list">
				{{#each model.currentMemberships as |mem|}}
					{{#link-to "specific-activity" mem.SessionCode mem.ActivityCode class="activity-list-item"}}
						<img class="activity-list-item-img" src={{mem.ActivityImagePath}}>
						<dl class="activity-list-item-details">
							<dt class="activity-list-item-title">{{mem.ActivityDescription}}</dt>
							<dt class="activity-list-item-info">{{mem.SessionDescription}}</dt>
							<dt class="activity-list-item-info">{{mem.ParticipationDescription}}</dt>
						</dl>
					{{/link-to}}
				{{/each}}
			</div>
		{{/if}}

		{{#if model.pastMembershipsFilled}}
			<div class="section-title">
				<h1>Past Experience:</h1>
			</div>
			{{#each model.pastMemberships as |memSession|}}
				<div class="cyanbox group-title">
					<h2>{{memSession.session}}</h2>
				</div>
				<div class="activity-list">
					{{#each memSession.activities as |mem|}}
						{{#link-to "specific-activity" mem.SessionCode mem.ActivityCode class="activity-list-item"}}
							<img class="activity-list-item-img" src={{mem.ActivityImagePath}}>
							<div class="activity-list-item-details">
								<dl>
									<dt class="activity-list-item-title">{{mem.ActivityDescription}}</dt>
									<dt class="activity-list-item-info">{{mem.SessionDescription}}</dt>
									<dt class="activity-list-item-info">{{mem.ParticipationDescription}}</dt>
								</dl>
							</div>
						{{/link-to}}
					{{/each}}
				</div>
			{{/each}}
		{{/if}}
	</div>
{{/if}}
