{{#if model.nothingToShow}}
<div class="hero-container">
	<img class="hero-container-background-img" alt="Gordon students" src="images/gordon-students.jpg"/>
</div>
<!-- <div class="slide-container">
	<div> <div class="royalSlider heroSlider rsMinW rsHor rsWithBullets" id="full-width-slider" style="height: 370.5px;"><div class="rsOverflow" style="cursor: -webkit-grab; width: 741px; height: 367px;"><div class="rsContainer" style="transition-duration: 600ms; transform: translate3d(-50932px, 0px, 0px); transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);"><div style="left: 50183px;" class="rsSlide "><div class="rsContent"><img alt="Chapel Spring 2017: Gather Around" class="rsImg rsMainSlideImage" src="/images/home2014/slideshow/gatheraround.jpg" style="width: 769px; height: 367px; margin-left: -14px; margin-top: 0px;">

</div></div><div style="left: 50932px;" class="rsSlide "><div class="rsContent"><img alt="Actors from 12th Night Play" class="rsImg rsMainSlideImage" src="/images/home2014/slideshow/play-festival.jpg" style="width: 769px; height: 367px; margin-left: -14px; margin-top: 0px;">

</div></div><div style="left: 51681px;" class="rsSlide "><div class="rsContent"><img alt="students by the bell" class="rsImg rsMainSlideImage" src="/images/home2014/slideshow/apply-by-march.jpg" style="width: 769px; height: 367px; margin-left: -14px; margin-top: 0px;">

</div></div></div></div><div class="rsNav rsBullets"><div class="rsNavItem rsBullet"><span></span></div><div class="rsNavItem rsBullet"><span></span></div><div class="rsNavItem rsBullet"><span></span></div><div class="rsNavItem rsBullet rsNavSelected"><span></span></div><div class="rsNavItem rsBullet"><span></span></div></div><div class="rsArrow rsArrowLeft" style="display: block;"><div class="rsArrowIcn"></div></div><div class="rsArrow rsArrowRight" style="display: block;"><div class="rsArrowIcn"></div></div><div class="rsGCaption"><div class="rsCaption animated fadeInUp"><a class="slidelink" href="/theatreschedule">
<div>
<h2>Running Late: January 27–28, February 3–4</h2>

<p>A new festival of plays written, directed and performed by students<br>
<span class="readmore">LEARN MORE ➔</span></p>
</div>
</a></div></div></div></div>

</div> -->
	<div class="empty-list whitebox row">
		<h3>Looking for something to do?</h3>
		<h3>Look at {{#link-to 'all-activities'}}<a class="empty-list-link">what's available!</a>{{/link-to}}</h3>
	</div>
{{else}}
	<div class="container">
		{{#if model.currentSupervisionsFilled}}
			<div class="section-title">
				<h1>Activities Currently Advising:</h1>
			</div>
			<div class="cyanbox group-title">
				<h2>{{model.currentSession.SessionDescription}}</h2>
			</div>
			<div class="activity-list">
				{{#each model.currentSupervisions as |advisor|}}
					{{#link-to "specific-activity" advisor.SessionCode advisor.ActivityCode class="activity-list-item"}}
						<img class="activity-list-item-img" src="{{advisor.ActivityImagePath}}">
						<dl class="activity-list-item-details">
							<dt class="activity-list-item-title">{{advisor.ActivityDescription}}</dt>
							<dt class="activity-list-item-info">{{advisor.SessionDescription}}</dt>
						</dl>
					{{/link-to}}
				{{/each}}
			</div>
		{{/if}}

		{{#if model.pastSupervisionsFilled}}
			<div class="section-title">
				<h1>Activities Previously Advised:</h1>
			</div>
			<div class="cyanbox group-title">
				<h2>All Past Sessions</h2>
			</div>
			<div class="activity-list">
				{{#each model.pastSupervisions as |advisor|}}
					{{#link-to "specific-activity" advisor.SessionCode advisor.ActivityCode class="activity-list-item"}}
						<img class="activity-list-item-img" src="{{advisor.ActivityImagePath}}">
						<dl class="activity-list-item-details">
							<dt class="activity-list-item-title">{{advisor.ActivityDescription}}</dt>
							<dt class="activity-list-item-info">{{advisor.SessionDescription}}</dt>
						</dl>
					{{/link-to}}
				{{/each}}
			</div>
		{{/if}}

		{{#if model.currentMembershipsFilled}}
			<div class="section-title">
				<h1>Current Experience:</h1>
			</div>
			<div class="cyanbox group-title">
				<h2>{{model.currentSession.SessionDescription}}</h2>
			</div>
			<div class="activity-list">
				{{#each model.currentMemberships as |mem|}}
					{{#link-to "specific-activity" mem.SessionCode mem.ActivityCode class="activity-list-item"}}
						<img class="activity-list-item-img" src={{mem.ActivityImagePath}}>
						<dl class="activity-list-item-details">
							<dt class="activity-list-item-title">{{mem.ActivityDescription}}</dt>
							<dt class="activity-list-item-info">{{mem.SessionDescription}}</dt>
							<dt class="activity-list-item-info">{{mem.ParticipationDescription}}</dt>
						</dl>
					{{/link-to}}
				{{/each}}
			</div>
		{{/if}}

		{{#if model.pastMembershipsFilled}}
			<div class="section-title">
				<h1>Past Experience:</h1>
			</div>
			{{#each model.pastMemberships as |memSession|}}
				<div class="cyanbox group-title">
					<h2>{{memSession.session}}</h2>
				</div>
				<div class="activity-list">
					{{#each memSession.activities as |mem|}}
						{{#link-to "specific-activity" mem.SessionCode mem.ActivityCode class="activity-list-item"}}
							<img class="activity-list-item-img" src={{mem.ActivityImagePath}}>
							<div class="activity-list-item-details">
								<dl>
									<dt class="activity-list-item-title">{{mem.ActivityDescription}}</dt>
									<dt class="activity-list-item-info">{{mem.SessionDescription}}</dt>
									<dt class="activity-list-item-info">{{mem.ParticipationDescription}}</dt>
								</dl>
							</div>
						{{/link-to}}
					{{/each}}
				</div>
			{{/each}}
		{{/if}}
	</div>
{{/if}}
