

<div class="container">
	<div class="section-title">
		<h2>Current Experience:</h2>
	</div>
	{{#each model.currentMemberships as |memType|}}
		<div class="row">
			<div class="col-sm-12">
				<h2 class="group-title">{{memType.participation}}</h2>
			</div>
		</div>
		<div class="my-activity-list">
		{{#each memType.activities as |mem|}}
			{{#link-to 'specific-activity' mem.SessionCode mem.ActivityCode class="well my-activity-list-item"}}
				<img class="my-activity-list-item-img" src="http://whoopdirt.com/wp-content/uploads/2016/06/Gordon_Logo-294_bigger.gif">
				<div class="membership-description">
					<dl>
						<dt>Activity</dt>
						<dd>{{mem.ActivityDescription}}</dd>
						<dt>Membership Role</dt>
						<dd>{{mem.ParticipationDescription}}</dd>
						<dt>Start Date</dt>
						<dd>{{moment-format mem.StartDate 'MMMM Do YYYY'}}</dd>
						<dt>End Date</dt>
						<dd>{{moment-format mem.EndDate 'MMMM Do YYYY' allow-empty=true}}</dd>
					</dl>
				</div>
			{{/link-to}}
		{{/each}}
		</div>
	{{/each}}
	<div class="col-sm-12 section-title">
		<h2>Past Experience:</h2>
	</div>
	{{#each model.pastMemberships as |memSession|}}
		<div class="row">
			<div class="col-sm-12">
				<h2 class="group-title">{{memSession.session}}</h2>
			</div>
		</div>
		<div class="my-activity-list">
			{{#each memSession.activities as |mem|}}
				{{#link-to 'specific-activity' mem.SessionCode mem.ActivityCode class="well my-activity-list-item"}}
					<img class="my-activity-list-item-img" src="http://whoopdirt.com/wp-content/uploads/2016/06/Gordon_Logo-294_bigger.gif">
					<div class="membership-description">
						<dl>
							<dt>Activity</dt>
							<dd>{{mem.ActivityDescription}}</dd>
							<dt>Membership Role</dt>
							<dd>{{mem.ParticipationDescription}}</dd>
							<dt>Start Date</dt>
							<dd>{{moment-format mem.StartDate 'MMMM Do YYYY'}}</dd>
							<dt>End Date</dt>
							<dd>{{moment-format mem.EndDate 'MMMM Do YYYY' allow-empty=true}}</dd>
						</dl>
					</div>
				{{/link-to}}
			{{/each}}
		</div>
	{{/each}}
</div>
