<div class="container">

	<nav class="navbar navbar-blue row" role="navigation">
        <div class="container-fluid">
			<ul class="nav navbar-nav">
				<li>
                    {{#link-to 'index' class="button"}}
                        What's Available?
                    {{/link-to}}
				</li>
				<li class="active">
                    {{#link-to 'my-activities' class="button"}}
                        My Involvements
                    {{/link-to}}
				</li>
				<li>
                    {{#link-to 'transcript' class="button"}}
                        Co-Curricular Transcript
                    {{/link-to}}
				</li>
			</ul>
        </div>
	</nav>

<div class="container">
	<div class="highlight section-title">
		<h2>Current Experience:</h2>
	</div>
	<div class="my-activity-list">
		{{#each model.currentMemberships as |mem|}}
			{{#link-to 'specific-activity' mem.SessionCode mem.ActivityCode class="well my-activity-list-item"}}
				<img class="my-activity-list-item-img" src={{mem.ActivityImage}}>
				<div class="membership-description">
					<dl>
						<dd>Activity:</dd>
						<dt>{{mem.ActivityDescription}}</dt>
						<dd>Membership Role:</dd>
						<dt>{{mem.ParticipationDescription}}</dt>
						<dd>Membership Session:</dd>
						<dt>{{mem.SessionDescription}}</dt>
					</dl>
				</div>
			{{/link-to}}
		{{/each}}
	</div>
	<div class="highlight section-title">
		<h2>Past Experience:</h2>
	</div>
	{{#each model.pastMemberships as |memSession|}}
		<div class="cyanbox group-title">
			<h2>{{memSession.session}}</h2>
		</div>
		<div class="my-activity-list">
			{{#each memSession.activities as |mem|}}
				{{#link-to 'specific-activity' mem.SessionCode mem.ActivityCode class="well my-activity-list-item"}}
					<img class="my-activity-list-item-img" src={{mem.ActivityImage}}>
					<div class="membership-description">
						<dl>
							<dd>Activity</dd>
							<dt>{{mem.ActivityDescription}}</dt>
							<dd>Membership Role</dd>
							<dt>{{mem.ParticipationDescription}}</dt>
							<dd>Membership Session</dd>
							<dt>{{mem.SessionDescription}}</dt>
						</dl>
					</div>
				{{/link-to}}
			{{/each}}
		</div>
	{{/each}}
</div>
