<main class="container main-container profile-container profile">
    {{!--Profile picture and information--}}
    <section class="row profile-block">
        {{! Profile picture and overlay }}
        <div class="col-sm-3">
            <div class="profile-picture-container" {{action "showEditProfilePictureModal"}}>
            <img src="{{model.userInfo.ImagePath}}" alt="Avatar" class="image" id="profilePicture">
            <div class="overlay">
                <div class="text">Click here to change profile picture</div>
            </div>
            </div>
        </div>
        {{! User main info }}
        <div class="col-sm-9 profile-block-info">
            <div class="row">
                <div class="col-sm-12">
                    <div class="user-name">{{model.userInfo.FirstName}} {{model.userInfo.LastName}} {{if  model.userInfo.NickName "("}}{{model.userInfo.NickName}}{{if model.userInfo.NickName ")"}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="student-class">
                        {{#if model.userInfo.IsFaculty}}
                            {{model.userInfo.JobTitle}}
                        {{else if model.userInfo.IsStudent}}
                            {{model.userInfo.Class}}
                        {{else if model.userInfo.isAlumni}}
                            {{model.userInfo.}}
                        {{/if}}
                    </div>
                </div>
            </div>
            {{! Display users social media links if provided }}
            <div class="row user-links">
                {{#if model.userInfo.Facebook}}
                    <a href="https://www.facebook.com/{{model.userInfo.Facebook}}" class="col-sm-2">Facebook</a>
                {{/if}}
                {{#if model.userInfo.Twitter}}
                <a href="https://twitter.com/{{model.userInfo.Twitter}}" class="col-sm-2">Twitter</a>
                {{/if}}
                {{#if model.userInfo.LinkedIn}}
                <a href="https://www.linkedin.com/in/{{mode.userInfo.LinkedIn}}" class="col-sm-2">LinkedIn</a>
                {{/if}}
                {{#if model.userInfo.Instagram}}
                <a href="https://www.instagram.com/{{model.userInfo.Instagram}}" class="col-sm-2">Instagram</a>
                {{/if}}
                <a href="#/profile" class="col-sm-4" {{action "showEditLinksModal"}}>Edit your social media links</a>
            </div>
            
        </div>
    </section>


    <!-- Edit profile picture modal -->
    <div id="editProfilePictureModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div id="profile-modal-from-box" class="whitebox row">
                <form {{action "updatePicture" on="submit"}}>
                    {{#if errorMessage}}
                        <p id="error-message">{{errorMessage}}</p>
                    {{/if}}
                    <label for="image">Upload new profile picture</label>
                    <div class="input-group">
                        <label class="input-group-btn">
                            <span class="btn button-navy">
                                Browse{{input id="file" type="file" value=file multiple="false"}}
                            </span>
                        </label>
                        {{input value=file placeholder="No File Chosen" type="text" class="form-control" readonly="true"}}
                    </div>
                    <div class="image-cropper-wrapper">
                        <div class="image-cropper-container">
                            {{image-cropper image=file}}
                        </div>
                    </div>
                    <p class="form-note">Files acceptable: png, jpg, jpeg, bmp, gif</p>
                    <button class="btn button-navy form-button" {{action 'updatePicture'}}>Upload Picture</button>
                    <button class="btn button-cyan form-button form-cancel-button" {{action "cancelEditProfilePicture"}}>Cancel</button>
                </form>
                <div>
                    <button class="btn button-cyan form-button form-cancel-button" {{action "setPicturePrivacy"}}>{{if model.userInfo.show_img "Hide you profile picture" "Show your profile picture"}}</button>
                </div>
                {{#if profilePictureSuccessMessage}}
                    <div class="success-message">{{profilePictureSuccessMessage}}</div>
                {{/if}}
            </div>
        </div>
    </div>


    <!-- Edit social media links modal -->
    <div id="editLinksModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="row">
            <div class="col-sm-12 modal-title">Edit your links</div>
        </div>
        {{#if linksErrorMessage}}
            <p id="error-message">{{linksErrorMessage}}</p>
        {{/if}}
        {{#if linksSuccessMessage}}
            <div class="success-message">{{linksSuccessMessage}}</div>
        {{/if}}
        {{#each model.links as |link|}}
            <div class="row edit-links-row">
                <div class="col-sm-6 links-title">{{link.type}}: </div>
                {{#if link.link}}
                    <div class="col-sm-3 edit-links-button-containers">
                        <button class="btn btn-primary edit-links-button" onclick={{action "changeSocialMediaLink" link}}>Edit</button>
                    </div>
                    <div class="col-sm-3 edit-links-button-containers">
                        <button class="btn button-danger edit-links-button" onclick={{action "updateLinks" "removed" link}}>Remove</button>
                    </div>
                {{else}}
                    <div class="col-sm-3 edit-links-button-containers">
                        <button class="btn btn-success edit-links-button" onclick={{action "changeSocialMediaLink" link}}>Add</button>
                    </div>
                {{/if}}
            </div>
            {{! form for entering data }}
            <div class="row edit-links-form-container hide">
                <form class="edit-links-form" {{action "updateLinks" "updated" link on="submit"}}>
                        <div class="col-sm-9 edit-links-button-containers">
                                {{input value=model.link class="edit-links-input"}}
                        </div>
                        <div class="col-sm-3 edit-links-button-containers">
                            <input class="btn btn-primary edit-links-button" type="submit">
                        </div>
                </form>
            </div>
        {{/each}}
        <button class="btn btn-primary"{{action "hideEditLinksModal"}}>Done</button>
        
    </div>

    </div>

    {{!--Personal Information--}}
    <section class="row profile-block">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12 block-header">Personal Information</div>
            </div>
            <div class="row">
                <div class="col-sm-4 personal-info-list">
                    <ul>
                        {{#if model.userInfo.IsStudentOrAlumni}}
                            <li>Major: {{model.userInfo.Major}}</li>
                            <li>Cell Phone: {{model.userInfo.MobilePhone}}</li> {{!-- TODO: add functionality to allow call on click --}}
                        {{/if}}
                        <li>Home Phone: {{model.userInfo.HomePhone}}</li>   {{!-- TODO: add functionality to allow call on click --}}
                        <li>Email: {{model.userInfo.EmailUserName}}@gordon.edu</li>            {{!-- TODO: add functionality to allow email on click --}}
                        {{#if model.userInfo.IsFaculty}}
                            <li>Job Title: {{model.userInfo.JobTitle}}</li> 
                            <li>Department: {{model.userInfo.OnCampusDepartment}}</li> 
                        {{/if}}
                    </ul>
                </div>
                {{#if model.userInfo.OnOffCampus}}
                    <div class="col-sm-4 personal-info-list">
                        <div class="address-title">Campus Address</div>
                        <ul>
                            <li>Dorm: {{model.userInfo.OnCampusBuilding}}</li>
                            <li>Room: {{model.userInfo.OnCampusRoom}}</li>
                        </ul>
                    </div>
                {{/if}}
                {{#if model.userInfo.IsFaculty}}
                    <div class="col-sm-4 personal-info-list">
                        <div class="address-title">On Campus Info</div>
                        <ul>
                            <li>Office: {{model.userInfo.OnCampusBuilding}} {{model.userInfo.OnCampusRoom}}</li> {{!-- GET description of building from TmsEPrd.dbo.building_master (showperson.cfm line: 596) --}}
                            <li>Office Phone: {{model.userInfo.OnCampusPhone}}</li>
                            {{!TODO: add office hours}}
                        </ul>
                    </div>
                {{/if}}
                <div class="col-sm-4 personal-info-list">
                    <div class="address-title">Home Address</div>
                    <ul>
                        <li>Street: {{model.userInfo.HomeStreet1}}</li>
                        <li>City: {{model.userInfo.HomeCity}}</li>
                        <li>State: {{model.userInfo.HomeState}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    {{!--Activities--}}
    
    <section class="row profile-block">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="block-header">Activities</div>
                </div>
            </div>
            {{#each model.memberships as |activity|}}
                <div class="row activity-entry bootstrap-tester">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-2 bootstrap-tester">
                                <img src="{{activity.ActivityImagePath}}" class="activity-image" alt="{{activity.ActivityDescription}} profile picture">
                            </div>
                            <div class="col-sm-10">
                                <div class="row bootstrap-tester">
                                    <div class="col-sm-7 bootstrap-tester">
                                        <div class="activity-entry-title">{{activity.ActivityDescription}} {{if activity.privacy "(Hidden on your page)"}}</div>
                                    </div>
                                    <div class="col-sm-2">
                                        <button class="view-club-button">{{#link-to "specific-activity" activity.SessionCode activity.ActivityCode}}View Club{{/link-to}}</button>
                                    </div>
                                    <div class="col-sm-3">
                                        <button class="view-club-button" {{action "toggleClubPrivacy" activity}}>{{if activity.privacy "Show this activity" "Hide this activity"}}</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-12">{{activity.SessionDescription}}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">Group Contacts:</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <ul>
                                                    {{#each activity.groupAdminsEmail as |groupAdmin|}}
                                                        <li><a href="mailto:{{groupAdmin.Email}}">{{groupAdmin.FirstName}} {{groupAdmin.LastName}}</a></li>
                                                    {{/each}}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-12">Description:</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">{{activity.clubInfo.ActivityBlurb}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5"></div>
                        <div class="col-sm-5"></div>
                    </div>
                </div>
            {{/each}}
        </div>
    </section>







    {{!--Requests tables--}}
    <section class="tables-section">
        {{#if requestsRecieved}}
            <article>
                <div class="row">
                    <div class="col-sm-12">
                        <h2 {{action "toggleRecievedTable"}} class="toggleTableBtn">
                            <strong><span id="recieved-table-header" class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> Membership Requests Recieved</strong>
                        </h2>
                    </div>
                </div>
                <div id="membership-requests-recieved-table" class="hidden-table">
                    <div class="row header-rows">
                        <div class = "col-md-4 col-sm-5">Name</div>
                        <div class = "col-md-4 col-sm-5 col-xs-hide">Activity</div>
                        <div class = "col-md-2 col-sm-hide">Time</div>
                        <div class = "col-sm-2 col-xs-hide">Options</div>
                    </div>
                    {{#each requestsRecieved as |req|}}
                        <div class="row entry-rows">
                            <div class="col-md-4 col-sm-5" onclick={{action "toggleRequestSent"}}> {{req.FirstName}} {{req.LastName}}</div>
                            <div class ="col-md-4 col-sm-5 col-xs-hide"> {{req.ActivityDescription}} </div>
                            <div class ="col-md-2 col-sm-hide"> {{req.DiffDays}} </div>
                            <div class ="col-sm-2 col-xs-hide">
                                {{#link-to "specific-activity" req.SessionCode req.ActivityCode}}
                                    <button class="btn button-navy  activity-buttons">See Activity</button>
                                {{/link-to}}
                            </div>
                        </div>
                    {{/each}}
                </div>
            </article>
        {{/if}}
        {{!--Membership requests Sent table--}}
        <article>
            <div class="row">
                <div class="col-sm-12">
                    <h2 {{action "toggleSentTable"}} class="toggleTableBtn">
                        <strong><span id="sent-table-header" class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> Membership Requests Sent</strong>
                    </h2>
                </div>
            </div>
            <div id="membership-requests-sent-table" class="hidden-table">
                {{#if model.requestsSent}}
                    <div class="row header-rows">
                        <div class = "col-md-5 col-sm-8">Activity</div>
                        <div class = "col-md-2 col-sm-hide">Decision</div>
                        <div class = "col-md-2 col-sm-hide">Time</div>
                        <div class = "col-md-3 col-sm-4 col-xs-hide">Options</div>
                    </div>
                    {{#each model.requestsSent as |req|}}
                        <div class="row entry-rows">
                            <div class="col-md-5 col-sm-8" onclick={{action "toggleRequestSent"}}> {{req.ActivityDescription}} </div>
                            <div class = "col-md-2 col-sm-hide"> {{req.RequestApproved}} </div>
                            <div class = "col-md-2 col-sm-hide"> {{req.DiffDays}} </div>
                            <div class = "col-md-3 col-sm-4 col-xs-hide">
                                {{#link-to "specific-activity" req.SessionCode req.ActivityCode}}
                                    <button class="btn button-navy  activity-buttons">See Activity</button>
                                {{/link-to}}
                                <button {{action "deleteRequest" req.RequestID}} class="btn button-red activity-buttons">Clear</button>
                            </div>
                        </div>
                    {{/each}}
                {{else}}
                <p class="empty-table-reminder">There are no pending requests</p>
                {{/if}}
            </div>
        </article>
    {{!--Admin table--}}
        {{#if model.superGodMode}}
            <article>
                <div class="row">
                    <div class="col-sm-12">
                        <h2 {{action "toggleAdminTable"}} class="toggleTableBtn">
                            <strong><span id="admin-table-header" class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> Admins</strong>
                        </h2>
                    </div>
                </div>
                <div id="admin-table"  class="hidden-table">
                    <div class="row header-rows">
                        <div class = "col-sm-5 col-xs-6">Name</div>
                        <div class = "col-sm-3 col-xs-hide">Super Admin</div>
                        <div class = "col-sm-4 col-xs-6">Options</div>
                    </div>
                    {{#each model.admins as |admin|}}
                        <div class="row entry-rows">
                            <div class="col-sm-5 col-xs-6"> {{admin.Name}}</div>
                            <div class = "col-sm-3 col-xs-hide"> {{if admin.superAdmin 'Yes' 'No'}} </div>
                            <div class = "col-sm-4 col-xs-6">
                                <button {{action "removeAdmin" admin.ID}} class="btn button-red table-button">Remove</button>
                            </div>
                        </div>
                    {{/each}}
                    {{#link-to "add-admin"}}
                        <button class="logout-btn btn button-navy">Add admin</button>
                    {{/link-to}}
                </div>
            </article>
        {{/if}}
    </section>
</main>
