<div class="container main-container">
    <div class="row">
        <div class="section-title">
            <h1>{{session.data.authenticated.token_data.name}}</h1>
            <h2>{{model.account_type}}</h2>
        </div>
    </div>
    {{#if requestsRecieved}}
        <div class="row table-row">
            <div class="col-sm-12">
                <h2>
                    <strong>Membership Requests Received</strong>
                </h2>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Activity</th>
                                <th>Time</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each requestsRecieved as |req|}}
                                <tr>
                                    <td> {{req.FirstName}} {{req.LastName}} </td>
                                    <td> {{req.ActivityDescription}} </td>
                                    <td> {{req.DiffDays}} </td>
                                    <td>
                                        {{#link-to "specific-activity" req.SessionCode req.ActivityCode}}
                                            <button class="btn button-navy table-button">See Activity</button>
                                        {{/link-to}}
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {{/if}}
    <div class="row table-row">
        <div class="col-sm-12">
            <h2>
                <strong>Membership Requests Sent</strong>
            </h2>
            {{#if model.requestsSent}}
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Activity</th>
                                <th>Decision</th>
                                <th>Time</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each model.requestsSent as |req|}}
                                <tr>
                                    <td> {{req.ActivityDescription}} </td>
                                    <td> {{req.RequestApproved}} </td>
                                    <td> {{req.DiffDays}} </td>
                                    <td>
                                        {{#link-to "specific-activity" req.SessionCode req.ActivityCode}}
                                            <button class="btn button-navy table-button">See Activity</button>
                                        {{/link-to}}
                                        <button {{action "deleteRequest" req.RequestID}} class="btn button-red table-button">Clear</button>
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            {{else}}
                <p class="empty-table-reminder">There are no pending requests</p>
            {{/if}}
        </div>
    </div>
    {{#if model.superGodMode}}
        <div class="row table-row">
            <div class="col-sm-12">
              <h2>
                  <strong>Admins</strong>
              </h2>
              <div class="table-responsive">
                  <table class="table">
                      <thead>
                          <tr>
                              <th>Name</th>
                              <th>Super Admin</th>
                              <th>Options</th>
                          </tr>
                      </thead>
                      <tbody>
                          {{#each model.admins as |admin|}}
                              <tr>
                                  <td> {{admin.Name}} </td>
                                  <td> {{if admin.superAdmin 'Yes' 'No'}} </td>
                                  <td>
                                      <button {{action "removeAdmin" admin.ID}} class="btn button-red table-button">Remove</button>
                                  </td>
                              </tr>
                          {{/each}}
                      </tbody>
                  </table>
              </div>
              {{#link-to "add-admin"}}
                  <button class="logout-btn btn button-navy">Add admin</button>
              {{/link-to}}
          </div>
      </div>
    {{/if}}
</div>
