<main class="container main-container">
    <div class="row">
        <div class="section-title">
            <h1>{{session.data.authenticated.token_data.name}}</h1>
        </div>
    </div>
    {{!--Requests Recieved table--}}
    {{!--TODO--}}
    <section>
        {{#if requestsRecieved}}
            <article>
                <div class="row">
                    <div class="col-sm-12">
                        <h2 {{action "toggleRecievedTable"}} class="toggleTableBtn">
                            <strong><span id="recieved-table-header" class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> Membership Requests Recieved</strong>
                        </h2>
                    </div>
                </div>
                <div id="membership-requests-recieved-table" class="hidden-table">
                    <div class="row header-rows">
                        <div class = "col-md-4 col-sm-5">Name</div>
                        <div class = "col-md-4 col-sm-5 col-xs-hide">Activity</div>
                        <div class = "col-md-2 col-sm-hide">Time</div>
                        <div class = "col-sm-2 col-xs-hide">Options</div>
                    </div>
                    {{#each requestsRecieved as |req|}}
                        <div class="row entry-rows">
                            <div class="col-md-4 col-sm-5" onclick={{action "toggleRequestSent"}}> {{req.FirstName}} {{req.LastName}}</div>
                            <div class ="col-md-4 col-sm-5 col-xs-hide"> {{req.ActivityDescription}} </div>
                            <div class ="col-md-2 col-sm-hide"> {{req.DiffDays}} </div>
                            <div class ="col-sm-2 col-xs-hide">
                                {{#link-to "specific-activity" req.SessionCode req.ActivityCode}}
                                    <button class="btn button-navy  activity-buttons">See Activity</button>
                                {{/link-to}}
                            </div>
                        </div>
                    {{/each}}
                </div>
            </article>
        {{/if}}
        {{!--Membership requests Sent table--}}
        <article>
            <div class="row">
                <div class="col-sm-12">
                    <h2 {{action "toggleSentTable"}} class="toggleTableBtn">
                        <strong><span id="sent-table-header" class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> Membership Requests Sent</strong>
                    </h2>
                </div>
            </div>
            <div id="membership-requests-sent-table" class="hidden-table">
                {{#if model.requestsSent}}
                    <div class="row header-rows">
                        <div class = "col-md-5 col-sm-8">Activity</div>
                        <div class = "col-md-2 col-sm-hide">Decision</div>
                        <div class = "col-md-2 col-sm-hide">Time</div>
                        <div class = "col-md-3 col-sm-4 col-xs-hide">Options</div>
                    </div>
                    {{#each model.requestsSent as |req|}}
                        <div class="row entry-rows">
                            <div class="col-md-5 col-sm-8" onclick={{action "toggleRequestSent"}}> {{req.ActivityDescription}} </div>
                            <div class = "col-md-2 col-sm-hide"> {{req.RequestApproved}} </div>
                            <div class = "col-md-2 col-sm-hide"> {{req.DiffDays}} </div>
                            <div class = "col-md-3 col-sm-4 col-xs-hide">
                                {{#link-to "specific-activity" req.SessionCode req.ActivityCode}}
                                    <button class="btn button-navy  activity-buttons">See Activity</button>
                                {{/link-to}}
                                <button {{action "deleteRequest" req.RequestID}} class="btn button-red activity-buttons">Clear</button>
                            </div>
                        </div>
                    {{/each}}
                {{else}}
                <p class="empty-table-reminder">There are no pending requests</p>
                {{/if}}
            </div>
        </article>
    {{!--Admin table--}}
        {{#if model.superGodMode}}
            <article>
                <div class="row">
                    <div class="col-sm-12">
                        <h2 {{action "toggleAdminTable"}} class="toggleTableBtn">
                            <strong><span id="admin-table-header" class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> Admins</strong>
                        </h2>
                    </div>
                </div>
                <div id="admin-table"  class="hidden-table">
                    <div class="row header-rows">
                        <div class = "col-sm-5 col-xs-6">Name</div>
                        <div class = "col-sm-3 col-xs-hide">Super Admin</div>
                        <div class = "col-sm-4 col-xs-6">Options</div>
                    </div>
                    {{#each model.admins as |admin|}}
                        <div class="row entry-rows">
                            <div class="col-sm-5 col-xs-6"> {{admin.Name}}</div>
                            <div class = "col-sm-3 col-xs-hide"> {{if admin.superAdmin 'Yes' 'No'}} </div>
                            <div class = "col-sm-4 col-xs-6">
                                <button {{action "removeAdmin" admin.ID}} class="btn button-red table-button">Remove</button>
                            </div>
                        </div>
                    {{/each}}
                    {{#link-to "add-admin"}}
                        <button class="logout-btn btn button-navy">Add admin</button>
                    {{/link-to}}
                </div>
            </article>
        {{/if}}
    </section>
</main>
