<main class="container main-container">
    <div class="row">
        <div class="section-title">
            <h1>{{session.data.authenticated.token_data.name}}</h1>
        </div>
    </div>
    <p>{{model.studentID}}</p>

    {{#if model.requestsSent}}
        <section >
            <div class="row">
                <div class="col-sm-12">
                    <h2>
                        <strong>Membership Requests Sent</strong>
                    </h2>
                </div>
            </div>
            <div class="row header-columns">
                <div class = "col-md-5">Activity</div>
                <div class = "col-md-2">Decision</div>
                <div class = "col-md-2">Time</div>
                <div class = "col-md-3">Options</div>
            </div>
            {{#each model.requestsSent as |req|}}
                <div class="row entry-columns">
                    <div class="col-md-5"> {{req.ActivityDescription}} </div>
                    <div class = "col-md-2"> {{req.RequestApproved}} </div>
                    <div class = "col-md-2"> {{req.DiffDays}} </div>
                    <div class = "col-md-3">
                        {{#link-to "specific-activity" req.SessionCode req.ActivityCode}}
                            <button class="btn button-navy  activity-buttons">See Activity</button>
                        {{/link-to}}
                        <button {{action "deleteRequest" req.RequestID}} class="btn button-red activity-buttons">Clear</button>
                    </div>
                </div>
            {{/each}}
        </section>
    {{/if}}
</main>
