<div class="container main-container">
    <div class="row">
        <div class="col-sm-6 col-left">
            <div class="row">
                <div class="activity-name">
                    <h1 class="lead text-center">{{model.activity.ActivityDescription}}</h1>
                </div>
                <img class="activity-picture center-block img-circle"
                    src={{model.activity.ActivityImage}}>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="activity-info">
                    <div class="row">
                        <div class="col-sm-12 detail-item">
                            <p class="detail-header">Leaders:</p>
                            <div class="leaders">
                                {{#each model.leaders as |leader|}}
                                    <p class="activity-info-item-data">
                                        {{leader.FirstName}} {{leader.LastName}} (<a>{{leader.Email}}</a>)
                                    </p>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 detail-item">
                            <p class="detail-header">Session: </p>
                            <p class="detail-info">{{model.session.SessionDescription}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 detail-item">
                            <p class="detail-header">Advisor: </p>
                            <p class="detail-info">...</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 detail-item">
                            <p class="detail-header">Times: </p>
                            <p class="detail-info">{{model.activity.MeetingDay}} {{model.activity.MeetingTime}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 detail-item">
                            <p class="detail-header">Tags: </p>
                            <p class="detail-info">...</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row button-row">
                {{#if model.leading}}
                    {{#link-to 'add-membership' model.session.SessionCode model.activity.ActivityCode}}
                        <button class="btn button-navy">Add Member</button>
                    {{/link-to}}
                {{else}}
                    {{#if model.following}}
                        <button type="button" class="btn button-navy" {{action "toggleFollow"}}>Unfollow</button>
                    {{else}}
                        <button type="button" class="btn button-navy" {{action "toggleFollow"}}>Follow</button>
                    {{/if}}
                    {{#link-to "add-membership" model.session.SessionCode model.activity.ActivityCode}}
                        <button type="button" class="btn button-navy">Join</button>
                    {{/link-to}}
                {{/if}}
            </div>
        </div>
    </div>
    <div class="row table-row">
        <div class="col-sm-12">
            <h2>Current Activity Roster</h2>
            <div class="table-responsive">
              <table class="table">
                  <thead>
                      <tr>
                          <th>First Name</th>
                          <th>Last Name</th>
                          <th>Role</th>
                          {{#if model.leading}}
                            <th>Comments</th>
                          {{/if}}
                          <th>Options</th>
                      </tr>
                  </thead>
                  <tbody>
                      {{#each model.memberships as |mems|}}
                      <tr>
                          <td> {{mems.FirstName}} </td>
                          <td> {{mems.LastName}} </td>
                          <td> {{mems.ParticipationDescription}} </td>
                          {{#if model.leading}}
                            <td class="comments-table-data">{{mems.Description}}</td>
                            <td>
                                    {{#link-to 'edit-membership' mems.MembershipID}}
                                        <button class="btn button-navy roster-button">Edit</button>
                                    {{/link-to}}
                                    <button {{action 'removePerson' mems}} class="btn button-red roster-button">Remove</button>
                            </td>
                            {{else}}
                                <td></td>
                          {{/if}}
                      </tr>
                      {{/each}}
                  </tbody>
              </table>
          </div>
        </div>
    </div>
    {{#if model.leading}}
        <div class="row table-row">
            <div class="col-sm-12">
                <h2>Membership Requests</h2>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Participation</th>
                                <th>Session</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each model.requests as |req|}}
                                <tr>
                                    <td> {{req.FirstName}} {{req.LastName}} </td>
                                    <td> {{req.ParticipationDescription}} </td>
                                    <td> {{req.SessionDescription}} </td>
                                    <td>
                                        <button {{action "approveRequest" req}} class="btn button-darkgreen">Approve</button>
                                        <button {{action "denyRequest" req}} class="btn button-red">Deny</button>
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {{/if}}
</div>
