
<div class="container main-container">
    <div class="row">
        <div class="col-sm-6 col-left">
            <div class="row">
                <h2 class = "activity-name lead text-center">{{model.activity.ActivityDescription}}</h2>
                <img class = "activity-picture center-block"
                    src={{model.activity.ActivityImage}}>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="activity-info">
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="activity-info-item">Leaders:</p>
                                {{#each model.leaders as |leader|}}
                                    <p class="activity-info-item-data">
                                        {{leader.FirstName}} {{leader.LastName}} (<a href="https://en.wikipedia.org/wiki/Potato">E.Mail@gordon.edu</a>)
                                    </p>
                                {{/each}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="activity-info-item">Description: {{model.activity.ActivityCode}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="activity-info-item">Session: {{model.session.SessionDescription}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="activity-info-item">Advisor: ...</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="activity-info-item">Times: ...</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="activity-info-item">Tags: ...</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row button-row">
                {{#if model.leading}}
                    {{#link-to 'add-membership' model.session.SessionCode model.activity.ActivityCode "true"}}
                        <button class="roster-button remove-button btn button-navy form-control" {{action 'toggleFollow'}}>Add Member</button>
                    {{/link-to}}
                {{else}}
                        <div class="col-sm-6">
                            {{#if model.following}}
                                <button type="button" class="btn button-navy form-control" {{action 'toggleFollow'}}>Unfollow</button>
                            {{else}}
                                <button type="button" class="btn button-navy form-control" {{action 'toggleFollow'}}>Follow</button>
                            {{/if}}
                        </div>
                        <div class="col-sm-6">
                            {{#link-to 'add-membership' model.session.SessionCode model.activity.ActivityCode "false"}}
                                <button type="button" class="btn button-navy form-control">Join</button>
                            {{/link-to}}
                        </div>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2 >Current Activity Roster:</h2>
            <div class="table-responsive">
              <table class="table">
                  <thead>
                      <tr>
                          <th>First Name</th>
                          <th>Last Name</th>
                          <th>Role</th>
                          <th>Options</th>
                      </tr>
                  </thead>
                  <tbody>
                      {{#each model.memberships as |mems|}}
                      <tr>
                          <td> {{mems.FirstName}} </td>
                          <td> {{mems.LastName}} </td>
                          <td> {{mems.ParticipationDescription}} </td>
                          {{#if (inArr mems.MembershipID model.allMyMembershipIDs)}}
                          <td> <button {{action 'editPerson'}}  class="roster-btn edit-button btn btn-blue">Edit</button><!--  <button {{action 'removePerson'}} class="roster-btn remove-button btn btn-red">Remove</button> --> </td>
                          {{else}}
                          <td></td>
                          {{/if}}

                      </tr>
                      {{/each}}
                  </tbody>
              </table>
          </div>
        </div>
    </div>
</div>
