<div class="container main-container">
    <div class="row">
        <div class="col-sm-6 col-left">
            <div class="row">
                <div class="activity-name">
                    <h1 class="lead text-center">{{model.activity.ActivityDescription}}</h1>
                </div>
                <img class="activity-picture center-block"
                    src={{model.activity.ActivityImagePath}} alt="IMAGE NOT FOUND">
            </div>
        </div>
        <div class="col-sm-6 right-section">
            {{!-- Activity Information --}}
            <div class="row activity-info">
                <div class="col-sm-12 detail-item">
                    <p class="detail-header">Session: </p>
                    <p class="detail-info">{{model.session.SessionDescription}}</p>
                </div>
                <div class="col-sm-12 detail-item">
                    {{#if model.hasLeaders}}
                        <p class="detail-header">Leaders: </p>
                        <div class="leaders">
                            {{#each model.leaderEmails as |leader|}}
                                <p class="activity-info-item-data">
                                    {{leader.FirstName}} {{leader.LastName}} <a href="mailto:{{leader.Email}}"> (Email)</a>
                                </p>
                            {{/each}}
                        </div>
                    {{else}}
                        <p class="detail-header">Leaders:</p>
                        <p class="detail-info">None</p>
                    {{/if}}
                </div>
                <div class="col-sm-12 detail-item">
                    {{#if model.hasSupervisors}}
                        <p class="detail-header">Supervisors: </p>
                        <div class="leaders">
                            {{#each model.supervisors as |supervisor|}}
                                <p class="activity-info-item-data">
                                    {{#if model.godMode}}
                                        <button type="button" class="btn btn-sm button-red sup-btn" {{action "removeSupervisor" supervisor}}>Remove</button>
                                    {{/if}}
                                    {{supervisor.FirstName}} {{supervisor.LastName}} <a href="mailto:{{supervisor.Email}}"> (Email)</a>
                                </p>
                            {{/each}}
                        </div>
                    {{else}}
                        <p class="detail-header">Supervisors: </p>
                        <p class="detail-info">None</p>
                    {{/if}}
                </div>
                {{#if model.activity.ActivityBlurb}}
                    <div class="col-sm-12 detail-item">
                        <p class="detail-header">Description: </p>
                        <p class="detail-info">{{model.activity.ActivityBlurb}}</p>
                    </div>
                {{/if}}
                {{#if model.activity.ActivityURL}}
                    <div class="col-sm-12 detail-item">
                        <a class="detial-header" href={{model.activity.ActivityURL}}>Website</a>
                    </div>
                {{/if}}
            </div>
            {{!-- Activity Buttons --}}
            <div class="row button-row">
                {{#if model.godMode}}
                    {{#link-to 'add-membership' model.session.SessionCode model.activity.ActivityCode}}
                        <button class="btn button-navy">Add Member</button>
                    {{/link-to}}
                    {{#link-to 'add-supervisor' model.session.SessionCode model.activity.ActivityCode}}
                        <button class="btn button-navy">Add Supervisor</button>
                    {{/link-to}}
                    {{#link-to 'edit-activity' model.session.SessionCode model.activity.ActivityCode}}
                        <button class="btn button-navy">Edit Activity</button>
                    {{/link-to}}
                    <a href="mailto:{{model.emails}}">
                        <button class="btn button-navy">Send Email to Group</button>
                    </a>
                {{else if model.leading}}
                    {{#link-to 'add-membership' model.session.SessionCode model.activity.ActivityCode}}
                        <button class="btn button-navy">Add Member</button>
                    {{/link-to}}
                    {{#link-to 'edit-activity' model.session.SessionCode model.activity.ActivityCode}}
                        <button class="btn button-navy">Edit Activity</button>
                    {{/link-to}}
                    <a href="mailto:{{model.emails}}" target="_blank">
                        <button class="btn button-navy">Send Email to Group</button>
                    </a>
                {{else}}
                    {{#if model.following}}
                        <button type="button" class="btn button-navy" {{action "toggleFollow"}}>Unfollow</button>
                    {{else}}
                        <button type="button" class="btn button-navy" {{action "toggleFollow"}}>Follow</button>
                    {{/if}}
                    {{#link-to "add-membership" model.session.SessionCode model.activity.ActivityCode}}
                        <button type="button" class="btn button-navy">Join</button>
                    {{/link-to}}
                {{/if}}
            </div>
        </div>
    </div>
    {{!-- Activity Tables --}}
    {{!-- Members --}}
    <div class="row table-row">
        <div class="col-sm-12">
            <h2>Current Activity Roster</h2>
            {{#if model.rosterFilled}}
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Participation</th>
                                {{#if model.leading}}
                                <th>Comments</th>
                                {{/if}}
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each model.rosterMemberships as |mem|}}
                                <tr>
                                    <td> {{mem.FirstName}} </td>
                                    <td> {{mem.LastName}} </td>
                                    <td> {{mem.ParticipationDescription}} </td>
                                    {{#if model.leading}}
                                        <td class="comments-table-data">{{mem.Description}}</td>
                                        <td>
                                            {{#link-to 'edit-membership' mem.MembershipID}}
                                            <button class="btn button-navy roster-button">Edit</button>
                                            {{/link-to}}
                                            <button {{action "removePerson" mem}} class="btn button-red roster-button">Remove</button>
                                        </td>
                                    {{else if mem.isLoggedInUser}}
                                        <td><button {{action "removePerson" mem}} class="btn button-red roster-button">Remove</button></td>
                                    {{else}}
                                        <td></td>
                                    {{/if}}
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            {{else}}
                <p class="empty-table-reminder">There are no members here</p>
            {{/if}}
        </div>
    </div>
    {{#if model.leading}}
        {{!-- Membership Requests --}}
        <div class="row table-row">
            <div class="col-sm-12">
                <h2>Membership Requests</h2>
                {{#if model.requestsFilled}}
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Participation</th>
                                    <th>Email</th>
                                    <th>Options</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each model.requests as |req|}}
                                    <tr>
                                        <td> {{req.FirstName}} {{req.LastName}} </td>
                                        <td> {{req.ParticipationDescription}} </td>
                                        <td> <a href="mailto:{{req.Email}}">{{req.Email}}</a> </td>
                                        <td>
                                            <button {{action "approveRequest" req}} class="btn button-darkgreen">Approve</button>
                                            <button {{action "denyRequest" req}} class="btn button-red">Deny</button>
                                        </td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                {{else}}
                    <p class="empty-table-reminder">There are no pending requests</p>
                {{/if}}
            </div>
        </div>
    {{/if}}
</div>
