<div class="container main-container">
    <div class="row">
        <div class="activity-name">
            <h1>{{model.activity.ActivityDescription}}</h1>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <img class="activity-picture center-block"
                    src={{model.activity.ActivityImagePath}} alt="activity image">
            </div>
            {{#unless model.defaultImage}}
                {{#if model.leading}}
                    <div class="row remove-image-btn">
                        <button {{action "resetImage"}} class="btn button-red">Remove Image</button>
                    </div>
                {{/if}}
            {{/unless}}
        </div>
        <div class="col-sm-6 right-section">
            {{!-- Activity Information --}}
            <div class="row activity-info">
                <div class="col-sm-12 detail-item">
                    <p class="detail-header">Session: </p>
                    <p class="detail-info">{{model.session.SessionDescription}}</p>
                </div>
                <div class="col-sm-12 detail-item">
                    {{#if model.hasGroupAdmin}}
                        <p class="detail-header">Group Contacts: </p>
                        <div class="leaders">
                          {{#each model.contactEmails as |contact|}}
                          <p class="activity-info-item-data">
                              <a href="mailto:{{contact.Email}}">{{contact.FirstName}} {{contact.LastName}}</a>
                          </p>
                          {{/each}}
                        </div>
                    {{else}}
                        <p class="detail-header">Group Contacts:</p>
                        <p class="detail-info">None</p>
                    {{/if}}
                </div>
                {{#if model.activity.ActivityBlurb}}
                    <div class="col-sm-12 detail-item">
                        <p class="detail-header">Description: </p>
                        <p class="detail-info">{{model.activity.ActivityBlurb}}</p>
                    </div>
                {{/if}}
                {{#if model.activity.ActivityURL}}
                    <div class="col-sm-12 detail-item">
                        <p class="detail-header">Website: </p>
                        <a class="detial-header" href={{model.activity.ActivityURL}} target="_blank">{{model.activity.ActivityURL}}</a>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="row button-row col-sm-12">
        {{#if model.godMode}}
            {{#link-to 'add-membership' model.session.SessionCode model.activity.ActivityCode}}
                <button class="btn button-navy" disabled={{model.activityClosed}}>Add Member</button>
            {{/link-to}}

            {{#link-to 'edit-activity' model.session.SessionCode model.activity.ActivityCode}}
                <button class="btn button-navy">Edit Activity</button>
            {{/link-to}}
            <a href="mailto:{{model.emails}}">
                <button class="btn button-navy">Send Email to Group</button>
            </a>
        {{else if model.leading}}
            {{#link-to 'add-membership' model.session.SessionCode model.activity.ActivityCode}}
                <button class="btn button-navy" disabled={{model.activityClosed}}>Add Member</button>
            {{/link-to}}

            {{#link-to 'edit-activity' model.session.SessionCode model.activity.ActivityCode}}
                <button class="btn button-navy">Edit Activity</button>
            {{/link-to}}
            <a href="mailto:{{model.emails}}">
                <button class="btn button-navy">Send Email to Group</button>
            </a>
        {{else if model.notAMember}}
            {{#if followLoad}}
                <button type="button" class="btn button-navy">Wait</button>
            {{else if model.following}}
                <button type="button" class="btn button-navy" {{action "toggleFollow"}}>Unfollow</button>
            {{else}}
                <button type="button" class="btn button-navy" {{action "toggleFollow"}}>Follow</button>
            {{/if}}
            {{#link-to "add-membership" model.session.SessionCode model.activity.ActivityCode}}
                <button type="button" class="btn button-navy" disabled={{model.activityClosed}}>Join</button>
            {{/link-to}}
        {{/if}}
    </div>
    <div class="status-message">
      {{#if model.activityClosed}}<p>This activity has been closed for the current session.</p>{{/if}}
    </div>
    {{!-- Activity Tables --}}
    {{!-- Members --}}
    <div class="row table-row">
        <div class="col-sm-12">
            <h2>
                <strong>Current Activity Roster:</strong> {{model.membershipCount}}
                {{#if model.membershipSingular}}
                    Member
                {{else}}
                    Members
                {{/if}}
                and
                {{model.followingCount}}
                {{#if model.guestSingular}}
                    Guest
                {{else}}
                    Guests
                {{/if}}
            </h2>
            {{#if model.rosterFilled}}
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Participation</th>
                                {{#if model.leading}}
                                    <th>Title/Comment</th>
                                    <th>Options</th>
                                    <th class="group-admin-checkbox">Group Admin</th>
                                {{/if}}
                            </tr>
                        </thead>
                        <tbody>
                            {{#each model.rosterMemberships as |mem|}}
                                <tr>
                                    <td> {{mem.FirstName}} </td>
                                    <td> {{mem.LastName}} </td>
                                    <td> {{mem.ParticipationDescription}} </td>
                                    {{#if model.leading}}

                                        <td class="comments-table-data">{{mem.Description}}</td>
                                        <td>
                                            {{#link-to 'edit-membership' mem.MembershipID}}
                                            <button class="btn button-navy table-button">Edit</button>
                                            {{/link-to}}
                                            <button {{action "removePerson" mem}} class="btn button-red table-button">Remove</button>
                                        </td>
                                        <td class="group-admin-checkbox">
                                        <input type="checkbox" name="groupAdmin" checked={{mem.GroupAdmin}} {{action "toggleAdmin" mem on="change"}}>
                                        </td>
                                    {{else if mem.isLoggedInUser}}
                                        <td><button {{action "removePerson" mem}} class="btn button-red table-button">Leave</button></td>
                                    {{else}}
                                        <td></td>
                                    {{/if}}
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            {{else}}
                {{#unless model.notAMember}}
                    <p class="empty-table-reminder">There are no members here</p>
                {{/unless}}
            {{/if}}
        </div>
    </div>
    {{#if model.leading}}
        {{!-- Membership Requests --}}
        <div class="row table-row">
            <div class="col-sm-12">
                <h2>
                    <strong>Membership Requests</strong>
                </h2>
                {{#if model.requestsFilled}}
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Participation</th>
                                    <th>Options</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each model.requests as |req|}}
                                    <tr>
                                        <td> {{req.FirstName}} {{req.LastName}} </td>
                                        <td> {{req.ParticipationDescription}} </td>
                                        <td>
                                            <button {{action "approveRequest" req}} class="btn button-darkgreen table-button">Approve</button>
                                            <button {{action "denyRequest" req}} class="btn button-red table-button">Deny</button>
                                        </td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                {{else}}
                    <p class="empty-table-reminder">There are no pending requests</p>
                {{/if}}
            </div>
        </div>
        <div class="row col-sm-4 button-row">
          <button {{action "closeOutSession"}} class="btn button-navy"
            disabled={{model.activityClosed}}>Close Out Activity for this Session</button>
        </div>
    {{/if}}
</div>
